﻿@import url(style.css);
/* CSS Document 2009.2 */

/* 此处定义导航背景 */
#Div_Top .Div_Nav .Div_Dh .Div_Dhn1 a.A_01 {height:30px; line-height:30px;margin-top:0px;background:url(../images/tlb_00.gif) 0px -110px no-repeat;  font-weight:bold; color:#fff; font-size:14px;}


/* 中部 */
#Div_Cent{width:950px; float:left;}
#Div_Cent div{float:left;}


/* 注册 */


/* 关于我们 */
#Div_Cent .Div_About{width:950px; margin-top:10px; background:url(../images/about04.gif) 0px 0px repeat-y;}
#Div_Cent .Div_About .Div_D1{width:950px;background:url(../images/about01.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_About .Div_D1 .Div_Left{width:190px; padding:40px 0 0 20px;}
#Div_Cent .Div_About .Div_D1 .Div_Left .Div_Dh{width:166px; padding:90px 0 0 24px;background:url(../images/about_index_03.gif) 0px 0px no-repeat;}
#Div_Cent .Div_About .Div_D1 .Div_Left .Div_Dh li{float:left; width:166px; height:40px;}
#Div_Cent .Div_About .Div_D1 .Div_Left .Div_Dh a{width:166px; height:29px;background:url(../images/about_index_07.gif) 0px 0px no-repeat; display:block; line-height:29px; text-align:center; float:left; clear:both;}
#Div_Cent .Div_About .Div_D1 .Div_Left .Div_Dh a:hover{background:url(../images/about_index_10.gif) 0px 0px no-repeat; color:#ff0; font-size:12px;  text-decoration:none;}
#Div_Cent .Div_About .Div_D1 .Div_Left .Div_Dh a.A_Yes{background:url(../images/about_index_10.gif) 0px 0px no-repeat; color:#ff0; font-size:12px;  text-decoration:none;}
#Div_Cent .Div_About .Div_Right{width:740px; margin-top:110px;}
#Div_Cent .Div_About .Div_Right .Div_text{width:700px; padding:20px; font-size:14px; line-height:28px;}
#Div_Cent .Div_About .Div_Right .Div_text p{text-indent:2em;}
#Div_Cent .Div_About .Div_Dd{width:950px; height:30px;background:url(../images/about05.gif) 0px 0px no-repeat;}

/* 合作伙伴 */
#Div_Cent .Div_About .Div_Right .Div_Link{width:700px; padding:20px; font-size:14px; line-height:28px;}
#Div_Cent .Div_About .Div_Right .Div_Link td{text-align:center;}
#Div_Cent .Div_About .Div_Right .Div_Link td img{padding:2px; border:1px solid #ffe2d0;}

/* 帮助中心 */
#Div_Cent .Div_About .Div_Right .Div_Help{width:720px; padding:20px 0 20px 20px;}
#Div_Cent .Div_About .Div_Right .Div_Help .Div_N1{width:720px;}
#Div_Cent .Div_About .Div_Right .Div_Help .Div_Le{width:580px; padding-right:10px;}
#Div_Cent .Div_About .Div_Right .Div_Help .Div_Le .Div_bq{width:580px;background:#ffe2d0; height:30px; line-height:30px; text-align:center; color:#063; font-size:20px;font-family:"黑体";}
#Div_Cent .Div_About .Div_Right .Div_Help .Div_Le .Div_mold{width:580px; padding:10px 0;}
#Div_Cent .Div_About .Div_Right .Div_Help .Div_Le .Div_bt{width:565px; padding-left:15px; line-height:22px; font-size:12px; font-family:Arial; font-weight:bold; color:#063;background:url(../images/22_ico_0023.gif) 0px 5px no-repeat;}
#Div_Cent .Div_About .Div_Right .Div_Help .Div_Le .Div_list{width:560px; padding-left:20px; padding-top:2px; color:#888;}

#Div_Cent .Div_About .Div_Right .Div_Help .Div_Ri{width:120px; padding-right:10px;POSITION:relative;}
#Div_Cent .Div_About .Div_Right .Div_Help .Div_Ri .leftmenulist3 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 6px; WIDTH: 120px; PADDING-TOP: 0px
}
#Div_Cent .Div_About .Div_Right .Div_Help .Div_Ri .leftmenulist3 SPAN {
	DISPLAY: block; BACKGROUND: url(../images/about06.gif) no-repeat; MARGIN-BOTTOM: 5px; WIDTH: 120px; HEIGHT: 40px
}
#Div_Cent .Div_About .Div_Right .Div_Help .Div_Ri .leftmenulist3 LI {
	MARGIN-TOP: 1px; DISPLAY: block; OVERFLOW: hidden; LINE-HEIGHT: 28px; HEIGHT: 28px
}
#Div_Cent .Div_About .Div_Right .Div_Help .Div_Ri .leftmenulist3 LI A {
	DISPLAY: block; PADDING-LEFT: 25px; BACKGROUND: url(../images/about07.gif) no-repeat; FONT: 12px/28px arial; COLOR: #063; TEXT-DECORATION: none
}
#Div_Cent .Div_About .Div_Right .Div_Help .Div_Ri .leftmenulist3 LI A:hover{color:#F60;}

/* 诚征英才 */
#Div_Cent .Div_About .Div_Right .Div_Job{width:700px; padding:20px;}
#Div_Cent .Div_About .Div_Right .Div_Job .Div_mold{width:700px; padding-bottom:10px;}
#Div_Cent .Div_About .Div_Right .Div_Job .Div_bt{width:690px; padding-left:10px; line-height:30px; background:#ffe2d0; font-size:14px; font-family:Arial; font-weight:bold;}
#Div_Cent .Div_About .Div_Right .Div_Job .Div_list{width:670px; padding-left:30px; padding-top:8px;}

/* 联系我们 */
#Div_Cent .Div_About .Div_Right .Div_Lxwm{width:700px; padding:20px; font-size:14px; line-height:28px;}











