﻿/* CSS Document 2009.2 */

/* 此处定义导航背景 */


/* 中部 */
#Div_Cent{width:950px; float:left;}
#Div_Cent div{float:left;}
#Div_Cent .Div_D01{width:950px;}
#Div_Cent .Div_D01 .Div_Left{width:680px;}
#Div_Cent .Div_D01 .Div_Left .Div_Jdgg/*焦点广告*/{width:680px;margin-top:10px;}

#Div_Cent .Div_D01 .Div_Left .Div_Jjsm/*简介说明*/{width:676px; padding:1px;margin-top:10px; border:1px solid #ffa46e;}
#Div_Cent .Div_D01 .Div_Left .Div_Jjsm .Div_bt{width:670px; padding-left:6px; height:26px; line-height:26px; border-bottom:1px solid #ffa46e;background:url(../images/tlb_00.gif) 0px -150px no-repeat; font-weight:bold; font-size:14px; color:#d30000;}
#Div_Cent .Div_D01 .Div_Left .Div_Jjsm .Div_bt span{font-weight:normal; color:#999; font-size:12px; font-family:Arial;}
#Div_Cent .Div_D01 .Div_Left .Div_Jjsm .Div_list{width:650px; padding:5px 13px; text-indent:2em;}
#Div_Cent .Div_D01 .Div_Left .Div_Jjsm .Div_list01{width:650px; padding:0px 13px 5px;}

#Div_Cent .Div_D01 .Div_Left .Div_Gnsm/*功能说明*/{width:676px; padding:1px;margin-top:10px; border:1px solid #ffa46e;}
#Div_Cent .Div_D01 .Div_Left .Div_Gnsm .Div_bt{width:676px; height:22px;background:url(../images/tlb_00.gif) 0px -150px no-repeat;}
#Div_Cent .Div_D01 .Div_Left .Div_Gnsm .Div_list{width:650px; padding:5px 13px;}
#Div_Cent .Div_D01 .Div_Left .Div_Gnsm .Div_list li{width:110px; height:88px; padding:0 26px 0 80px; float:left;}
#Div_Cent .Div_D01 .Div_Left .Div_Gnsm .Div_list li a{color:#d30000; font-size:14px; font-weight:bold;}
#Div_Cent .Div_D01 .Div_Left .Div_Gnsm .Div_list li.Li01{background:url(../images/pay_quick.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_D01 .Div_Left .Div_Gnsm .Div_list li.Li02{background:url(../images/pay_quick.jpg) 10px -195px no-repeat;}
#Div_Cent .Div_D01 .Div_Left .Div_Gnsm .Div_list li.Li03{background:url(../images/pay_quick.jpg) 0px -395px no-repeat;padding:0 6px 0 100px;}

#Div_Cent .Div_D01 .Div_Left .Div_Links/*合作伙伴*/{width:676px; padding:1px;margin-top:10px; border:1px solid #ffa46e;}
#Div_Cent .Div_D01 .Div_Left .Div_Links .Div_bt{width:670px; padding-left:6px; height:26px; line-height:26px; border-bottom:1px solid #ffa46e;background:url(../images/tlb_00.gif) 0px -150px no-repeat;}
#Div_Cent .Div_D01 .Div_Left .Div_Links .Div_bt .Sp01{float:left; font-weight:bold; font-size:14px;color:#d30000;}
#Div_Cent .Div_D01 .Div_Left .Div_Links .Div_bt .Spmore{float:right; padding-right:5px;}
#Div_Cent .Div_D01 .Div_Left .Div_Links .Div_list{width:660px; padding:9px 8px;}
#Div_Cent .Div_D01 .Div_Left .Div_Links .Div_list li{width:100px; padding:5px; float:left;}
#Div_Cent .Div_D01 .Div_Left .Div_Links .Div_list li img{width:96px; height:26px; padding:1px; border:1px solid #ffa46e;}


/*右*/
#Div_Cent .Div_D01 .Div_Right{width:260px; padding-left:10px;}
#Div_Cent .Div_D01 .Div_Right .Div_Login/*登录*/{width:258px; border:1px solid #ffa46e;margin-top:10px;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_bt{width:250px; padding-left:8px; height:26px; line-height:26px; border-bottom:1px solid #ffa46e;background:url(../images/tlb_00.gif) 1px -149px no-repeat; font-weight:bold; font-size:14px;color:#d30000;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_bt span{font-size:12px; font-weight:normal;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_bt a{color:#f60;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_list{width:200px; height:205px; padding:5px 29px;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_list li{width:100%; float:left; line-height:25px;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_list li.Li01{padding-top:10px;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_list li .Inp01{width:190px; height:20px; border:1px solid #999; line-height:18px;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_list li .Inp02{width:100px; height:20px; border:1px solid #999;line-height:18px;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_list li span {float:left;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_list li .Sp01{float:right; padding-right:8px;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_list li .Sp02{float:right; padding-right:5px; line-height:30px;}

#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_list li.Li02{padding-top:10px; line-height:28px; border-top:1px solid #ddd; margin-top:10px; text-align:center;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_list li.Li02 a{color:#f60; padding:0 10px;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_list li.Li03{padding-top:10px; text-align:center;}
#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_list li.Li04{text-align:center;}
#Div_Cent .Div_D01 .Div_Right .Div_KFF{width:256px; padding:1px; border:1px solid #ffa46e;border-top:0px solid #ffa46e;margin-top:0px;}

#Div_Cent .Div_D01 .Div_Right .Div_Login .Div_list01{width:256px; padding:1px; border-top:1px solid #ffa46e;}

#Div_Cent .Div_D01 .Div_Right .Div_Faq/*常见问题*/{width:258px; border:1px solid #ffa46e;margin-top:10px;}
#Div_Cent .Div_D01 .Div_Right .Div_Faq .Div_bt{width:250px; padding-left:8px; height:26px; line-height:26px; border-bottom:1px solid #ffa46e;background:url(../images/tlb_00.gif) 1px -149px no-repeat;}
#Div_Cent .Div_D01 .Div_Right .Div_Faq .Div_bt .Sp01{float:left; font-weight:bold; font-size:14px;color:#d30000;}
#Div_Cent .Div_D01 .Div_Right .Div_Faq .Div_bt .Spmore{float:right; padding-right:5px;}
#Div_Cent .Div_D01 .Div_Right .Div_Faq .Div_list{width:211px;padding:5px 29px 5px 18px;}
#Div_Cent .Div_D01 .Div_Right .Div_Faq .Div_list li{width:200px; padding-left:11px; float:left; height:25px; line-height:25px;background:url(../images/tlb_00.gif) -500px -111px no-repeat; overflow:hidden; border-bottom:1px dashed #eee;}

/*=================支付方式=========================*/

#Div_Cent .Div_D13{width:950px; height:100px; margin-top:10px;background:url(../images/payto01.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_D23{width:950px;}
#Div_Cent .Div_D23 .Div_tou{width:950px; height:27px; line-height:27px;background:url(../images/payto02.gif) 0px 0px no-repeat; margin-top:10px; border-bottom:1px solid #fa6101;}
#Div_Cent .Div_D23 .Div_tou .Sp01{width:140px; float:left; text-align:center; color:#fff; font-weight:bold;}
#Div_Cent .Div_D23 .Div_Lb{width:950px;}
#Div_Cent .Div_D23 .Div_Lb .Div_Left{width:448px; padding:10px; border:1px dashed #fc4700; margin-top:10px; background:#fff6f0;}
#Div_Cent .Div_D23 .Div_Lb .Div_Left .Div_img{width:140px; padding-right:10px;}
#Div_Cent .Div_D23 .Div_Lb .Div_Left .Div_img a{width:140px; height:60px; float:left; background:#fff;filter:Alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5; display:inline;}
#Div_Cent .Div_D23 .Div_Lb .Div_Left .Div_img a:hover{filter:Alpha(opacity=100);-moz-opacity:1;-khtml-opacity: 1; opacity: 1;}
#Div_Cent .Div_D23 .Div_Lb .Div_Left .Div_bt{width:288px; height:27px; line-height:27px;}
#Div_Cent .Div_D23 .Div_Lb .Div_Left .Div_bt a{ float:left;width:133px; padding-left:5px; height:27px;background:url(../images/pay03.gif) 0px 0px no-repeat; text-align:center; color:#d60000; font-size:14px; font-weight:bold;}
#Div_Cent .Div_D23 .Div_Lb .Div_Left .Div_bt a:hover{background:url(../images/pay04.gif) 0px 0px no-repeat;color:#FF0; text-decoration:none;}
#Div_Cent .Div_D23 .Div_Lb .Div_Left .Div_list{width:288px; line-height:18px; padding-top:10px;}


#Div_Cent .Div_D23 .Div_Lb .Div_Right{width:448px;padding:10px; border:1px dashed #fc4700; margin:10px 0 0 10px;background:#fff6f0;}
#Div_Cent .Div_D23 .Div_Lb .Div_Right .Div_img{width:140px; padding-right:10px;}
#Div_Cent .Div_D23 .Div_Lb .Div_Right .Div_img a{width:140px; height:60px; float:left; background:#fff;filter:Alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5; display:inline;}
#Div_Cent .Div_D23 .Div_Lb .Div_Right .Div_img a:hover{filter:Alpha(opacity=100);-moz-opacity:1;-khtml-opacity: 1; opacity: 1;}
#Div_Cent .Div_D23 .Div_Lb .Div_Right .Div_bt{width:288px; height:27px; line-height:27px;}
#Div_Cent .Div_D23 .Div_Lb .Div_Right .Div_bt a{ float:left;width:133px; padding-left:5px; height:27px;background:url(../images/pay03.gif) 0px 0px no-repeat; text-align:center; color:#d60000; font-size:14px; font-weight:bold;}
#Div_Cent .Div_D23 .Div_Lb .Div_Right .Div_bt a:hover{background:url(../images/pay04.gif) 0px 0px no-repeat;color:#FF0; text-decoration:none;}
#Div_Cent .Div_D23 .Div_Lb .Div_Right .Div_list{width:288px; line-height:18px;padding-top:10px;}


/*=================支付费率=========================*/
#Div_Cent .Div_D14{width:950px; height:100px; margin-top:10px;background:url(../images/pay10.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_D24{width:950px;}
#Div_Cent .Div_D24 .Div_tou{width:950px; height:27px; line-height:27px;background:url(../images/payto02.gif) 0px 0px no-repeat; margin-top:10px; border-bottom:1px solid #fa6101;}
#Div_Cent .Div_D24 .Div_tou .Sp01{width:140px; float:left; text-align:center; color:#fff; font-weight:bold;}
#Div_Cent .Div_D24 .Div_tou .Sp02{width:614px; padding-left:20px; float:right;background:url(../images/tishi_bg.gif) 0px 0px no-repeat;}
#Div_Cent .Div_D24 .Div_tou1{width:950px; height:27px; padding-top:22px; background:url(../images/fltitle.jpg) left 0px no-repeat; margin-top:5px;}
#Div_Cent .Div_D24 .Div_tou1 .Sp01{width:140px; float:left; text-align:center; color:#fff; font-weight:bold;}
#Div_Cent .Div_D24 .Div_tou1 .Sp02{width:614px; padding-left:20px;line-height:27px; float:right;background:url(../images/tishi_bg.gif) 0px 0px no-repeat;}

#Div_Cent .Div_D24 .Div_Lb{width:950px; margin-top:5px;}
/*#Div_Cent .Div_D24 .Div_Lb table{ background:#93ca6c;}*/
#Div_Cent .Div_D24 .Div_Lb table{ background:#fff;}
#Div_Cent .Div_D24 .Div_Lb td{ cursor:pointer;text-align:center;ackground:#fff;}
#Div_Cent .Div_D24 .Div_Lb td.Td01{text-align:center;background:url(../images/pay11.gif) 0px 0px repeat-x; color:#ff0; font-weight:bold;}
#Div_Cent .Div_D24 .Div_Lb td.Td01L{text-align:center;background:url(../images/pay11L.gif) left 0px no-repeat; color:#ff0; font-weight:bold;}
#Div_Cent .Div_D24 .Div_Lb td.Td01R{text-align:center;background:url(../images/pay11R.gif) right 0px no-repeat; color:#ff0; font-weight:bold;}
#Div_Cent .Div_D24 .Div_Lb td.Td02{font-weight:bold; text-align:center; color:#C00;}

/*=================收款方式=========================*/
#Div_Cent .Div_D15{width:950px; height:100px; margin-top:10px;background:url(../images/pay20.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_D25{width:950px;}
#Div_Cent .Div_D25 .Div_tou{width:950px; height:27px; line-height:27px;background:url(../images/payto02.gif) 0px 0px no-repeat; margin-top:10px; border-bottom:1px solid #fa6101;}
#Div_Cent .Div_D25 .Div_tou .Sp01{width:140px; float:left; text-align:center; color:#fff; font-weight:bold;}
#Div_Cent .Div_D25 .Div_Lb{width:950px;}

#Div_Cent .Div_D25 .Div_Lb .Div_Left{width:450px; height:160px; padding:10px; margin-top:10px;background:url(../images/skfs_r1_c1.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_D25 .Div_Lb .Div_Left .Div_list{width:290px; padding:60px 0 0 145px;}
#Div_Cent .Div_D25 .Div_Lb .Div_Left .Div_list span{line-height:35px;}


#Div_Cent .Div_D25 .Div_Lb .Div_Right{width:450px;padding:10px;height:160px; margin:10px 0 0 10px;background:url(../images/skfs_r3_c6.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_D25 .Div_Lb .Div_Right .Div_list{width:290px; padding:60px 0 0 145px;}
#Div_Cent .Div_D25 .Div_Lb .Div_Right .Div_list span{line-height:35px;}

#Div_Cent .Div_D25 .Div_Lb .Div_Left01{width:450px; height:160px; padding:10px; margin-top:10px;background:url(../images/skfs_r1_c3.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_D25 .Div_Lb .Div_Right01{width:450px;padding:10px;height:160px; margin:10px 0 0 10px;background:url(../images/skfs_r6_c6.jpg) 0px 0px no-repeat;}


/*=================清算模式=========================*/

#Div_Cent .Div_D10{width:950px; height:100px; margin-top:10px;background:url(../images/pay30.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_D20{width:950px;}
#Div_Cent .Div_D20 .Div_tou{width:950px; height:27px; line-height:27px;background:url(../images/payto02.gif) 0px 0px no-repeat; margin-top:10px; border-bottom:1px solid #fa6101;}
#Div_Cent .Div_D20 .Div_tou .Sp01{width:140px; float:left; text-align:center; color:#fff; font-weight:bold;}
#Div_Cent .Div_D20 .Div_tou .Sp02{width:614px; padding-left:20px; float:right;background:url(../images/tishi_bg.gif) 0px 0px no-repeat;}

#Div_Cent .Div_D20 .Div_Lb{width:950px; margin-top:10px;}
#Div_Cent .Div_D20 .Div_Lb .Div_mold{width:948px; height:107px; margin-top:10px; border:1px solid #ddd;background:url(../images/huibg2.jpg) 0px 0px repeat-x;}
#Div_Cent .Div_D20 .Div_Lb .Div_mold .Div_img{width:140px; height:91px; padding:10px 0 0 30px;}
#Div_Cent .Div_D20 .Div_Lb .Div_mold .Div_list{width:750px;padding:10px 0 0 10px; line-height:22px;}


/*=================清算费率=========================*/

#Div_Cent .Div_D11{width:950px; height:100px; margin-top:10px;background:url(../images/pay10.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_D21{width:950px;}
#Div_Cent .Div_D21 .Div_tou{width:950px; height:27px; line-height:27px;background:url(../images/payto02.gif) 0px 0px no-repeat; margin-top:10px; border-bottom:1px solid #fa6101;}
#Div_Cent .Div_D21 .Div_tou1{width:950px; height:49px;background:url(../images/fltitle2.jpg) left 0px no-repeat; margin-top:5px;}
#Div_Cent .Div_D21 .Div_tou .Sp01{width:140px; float:left; text-align:center; color:#fff; font-weight:bold;}
#Div_Cent .Div_D21 .Div_tou .Sp02{width:614px; padding-left:20px; float:right;background:url(../images/tishi_bg.gif) 0px 0px no-repeat;}

#Div_Cent .Div_D21 .Div_Lb{width:950px; margin-top:5px;}
#Div_Cent .Div_D21 .Div_Lb table{ background:#fff;}
#Div_Cent .Div_D21 .Div_Lb td{ cursor:pointer; text-align:center;}
#Div_Cent .Div_D21 .Div_Lb td.Td01{text-align:center;background:url(../images/pay11.gif) 0px 0px repeat-x; color:#ff0; font-weight:bold;}
#Div_Cent .Div_D21 .Div_Lb td.Td01L{text-align:center;background:url(../images/pay11L.gif) left 0px no-repeat; color:#ff0; font-weight:bold;}
#Div_Cent .Div_D21 .Div_Lb td.Td01R{text-align:center;background:url(../images/pay11R.gif) right 0px no-repeat; color:#ff0; font-weight:bold;}
#Div_Cent .Div_D21 .Div_Lb td.Td02{font-weight:bold; text-align:center; color:#C00;}


/*=================接入方式=========================*/
#Div_Cent .Div_D12{width:950px; height:100px; margin-top:10px;background:url(../images/pay40.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_D22{width:950px;}
#Div_Cent .Div_D22 .Div_tou{width:950px; height:27px; line-height:27px;background:url(../images/payto02.gif) 0px 0px no-repeat; margin-top:10px; border-bottom:1px solid #fa6101;}
#Div_Cent .Div_D22 .Div_tou .Sp01{width:140px; float:left; text-align:center; color:#fff; font-weight:bold;}
#Div_Cent .Div_D22 .Div_Lb{width:950px;}

#Div_Cent .Div_D22 .Div_Lb .Div_mold{width:263px; height:421px; padding:0 20px;margin-top:10px;}
#Div_Cent .Div_D22 .Div_Lb .Div_mold .Div_bt{width:263px; height:25px; line-height:25px; padding-top:55px;}

#Div_Cent .Div_D22 .Div_Lb .Div_mold .Div_list{width:263px; padding:15px 0 0 0px;background:url(../images/pay31.gif) 0px 23px no-repeat;}
#Div_Cent .Div_D22 .Div_Lb .Div_mold .Div_list li{float:left; height:26px; line-height:26px; width:230px; padding:9px 0 9px 33px;}
#Div_Cent .Div_D22 .Div_Lb .Div_mold .Div_list01{width:263px;padding:5px 0 0 0px; color:#888;}
#Div_Cent .Div_D22 .Div_Lb .Div_mold .Div_list01 span{width:263px; float:left;}
#Div_Cent .Div_D22 .Div_Lb .Div_mold .Div_list01 .Sp01{font-weight:bold;}
#Div_Cent .Div_D22 .Div_Lb .Div_mold .Div_list01 .Sp02{padding-left:10px; width:253px;}

#Div_Cent .Div_D22 .Div_Lb .Div_M1{background:url(../images/jrfs_title1-1.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_D22 .Div_Lb .Div_M2{background:url(../images/jrfs_title2-1.jpg) 0px 0px no-repeat; margin:10px 20px 0 21px;}
#Div_Cent .Div_D22 .Div_Lb .Div_M3{background:url(../images/jrfs_title3-1.jpg) 0px 0px no-repeat;}


/* 注册 */
#Div_Cent .Div_Reg{width:950px;}
#Div_Cent .Div_Reg .Div_tou{width:950px; margin-top:10px; border-bottom:2px solid #d60000; padding-bottom:10px;}
#Div_Cent .Div_Reg .Div_D1{width:950px; margin-top:10px;}
#Div_Cent .Div_Reg .Div_D1 .Td01{font-size:14px; color:#d60000;}
#Div_Cent .Div_Reg .Div_D1 .Td02{ text-align:center; background:#fbefe8; color:#d60000; font-size:14px;}
#Div_Cent .Div_Reg .Div_D1 .Td03 input{width:200px; height:18px; border:1px solid #d60000;}
#Div_Cent .Div_Reg .Div_D1 .Td03 textarea{width:98%; height:100px;}
#Div_Cent .Div_Reg .Div_D1 .Td04{color:#999; border:1px solid #FFF; padding:5px;}
#Div_Cent .Div_Reg .Div_D1 .Td06{color:#063; border:1px solid #C00; background-color:#ffe; padding:5px;}
#Div_Cent .Div_Reg .Div_D1 .Td05{font-size:14px;}
#Div_Cent .Div_Reg .Div_D1 .Td08{font-size:32px; line-height:40px; color:#d60000; font-family:"黑体";}
#Div_Cent .Div_Reg .Div_D1 .Td09{background:url(../images/huibg3.jpg) left top repeat-x #fff;}
#Div_Cent .Div_Reg .Div_D1 .Td09 a{text-decoration:underline;}


/* 登录 */
#Div_Cent .Div_Logins{width:950px; margin-top:10px; background:url(../images/bg_loginBar.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_Logins .Div_Left{width:600px;}
#Div_Cent .Div_Logins .Div_sm{width:600px; margin-top:10px;}
#Div_Cent .Div_Logins .Div_sm .Div_bt{width:300px; padding:0 250px 0 50px; line-height:30px; font-size:14px; font-weight:bold; color:#f60;}
#Div_Cent .Div_Logins .Div_sm .Div_list{width:400px; padding:0 150px 0 50px; text-indent:2em; font-size:14px; line-height:25px; color:#999;}

#Div_Cent .Div_Logins .Div_Right{width:300px; padding:60px 50px 0 0px;}
#Div_Cent .Div_Logins .Div_Right .Div_DL{width:200px; padding:80px 49px 30px 49px; border:1px solid #ddd;background:url(../images/login01.jpg) 0px 0px no-repeat;}
#Div_Cent .Div_Logins .Div_Right .Div_DL .Div_list{width:200px; height:240px;}
#Div_Cent .Div_Logins .Div_Right .Div_DL .Div_list li{width:100%; float:left; line-height:35px;}
#Div_Cent .Div_Logins .Div_Right .Div_DL .Div_list li.Li01{padding-top:20px;}
#Div_Cent .Div_Logins .Div_Right .Div_DL .Div_list li .Inp01{width:190px; height:22px; border:1px solid #999; line-height:20px;}
#Div_Cent .Div_Logins .Div_Right .Div_DL .Div_list li .Inp02{width:100px; height:22px; border:1px solid #999;line-height:20px;}
#Div_Cent .Div_Logins .Div_Right .Div_DL .Div_list li span {float:left;}
#Div_Cent .Div_Logins .Div_Right .Div_DL .Div_list li .Sp01{float:right; padding-right:8px;}
#Div_Cent .Div_Logins .Div_Right .Div_DL .Div_list li .Sp02{float:right; padding-right:5px; line-height:30px;}


#Div_Cent .Div_Gatepay{width:950px; margin-top:10px;}
#Div_Cent .Div_Gatepay .Div_Sm{width:950px; padding-top:6px;background:url(../images/huibg.jpg) 0px 0px repeat-x;}
#Div_Cent .Div_Gatepay .Div_B01{width:950px; height:36px;background:url(../images/pzzl_bg.jpg) 0px 0px repeat-x;}
#Div_Cent .Div_Gatepay .Div_B02{width:950px; height:51px;background:url(../images/dhbg4.jpg) 0px 0px repeat-x;}
#Div_Cent .Div_Gatepay .Div_B02 .Sp01{width:150px; padding-top:20px; height:31px; background:url(../images/dh_menubg.jpg) 0px 9px no-repeat; float:left; margin-left:50px; display:inline; text-align:center;}
#Div_Cent .Div_Gatepay .Div_B03{width:950px;}
#Div_Cent .Div_Gatepay .Div_B04{width:820px; padding:10px 65px;}
#Div_Cent .Div_Gatepay .Div_B04 .Div_Nb{width:780px; padding:20px; background:#f4fce4;}
#Div_Cent .Div_Gatepay .Div_B04 .Div_Nb table{background:#dcdcdc;}
#Div_Cent .Div_Gatepay .Div_B04 .Div_Nb table td{background:#fff;text-align:center;}
#Div_Cent .Div_Gatepay .Div_B04 .Div_Nb table td.Td01{background:#eee; }
#Div_Cent .Div_Gatepay .Div_B04 .Div_Nb table td.Td02{text-align:left; text-indent:2em;}
#Div_Cent .Div_Gatepay .Div_B04 .Div_Nb table td.Td03{background:#FDF9D7; }
#Div_Cent .Div_Gatepay .Div_B05{width:950px;}



/* 弹出页面01 */
#Div_Dome01{width:620px; border:1px solid #2d7218; padding-bottom:10px; text-align:left;}
#Div_Dome01 .Div_Lm{width:620px; line-height:26px; height:26px; border-bottom:1px solid #2d7218;background:url(../images/dh_bg.jpg) 0px 0px repeat-x;}
#Div_Dome01 .Div_Lm span{width:200px; padding-left:10px; color:#fff; font-weight:bold; float:left; height:26px;}
#Div_Dome01 .Div_Lm a{width:31px; height:21px; float:right; display:block; margin-right:5px;background:url(../images/pay06.gif) 0px 0px no-repeat; cursor:pointer;}
#Div_Dome01 .Div_Lm a:hover{background:url(../images/pay07.gif) 0px 0px no-repeat;}
#Div_Dome01 .Div_mold{width:560px; margin:10px 30px; display:block;}
#Div_Dome01 .Div_mold .Div_shang{width:560px; height:30px; line-height:30px;}
#Div_Dome01 .Div_mold .Div_shang span{font-weight:bold; font-size:14px; color:#333;}
#Div_Dome01 .Div_mold .Div_xia{width:560px; margin-top:10px;}
#Div_Dome01 .Div_mold .Div_xia img{float:left; padding:7px 2px; border:1px solid #ddd;}
#Div_Dome01 .Div_mold .Div_M{width:560px; margin-top:10px;}
#Div_Dome01 .Div_mold .Div_M .Div_bt{width:550px; font-weight:bold; padding-left:10px; height:25px; line-height:25px; border-bottom:1px solid #ddd;}
#Div_Dome01 .Div_mold .Div_M .Div_list{width:540px; padding:5px 0 5px 20px;}

#Div_DomeM{width:620px;text-align:left;}
#Div_DomeM .Div_mold{width:560px; margin:10px 30px; display:block;color:#333;}
#Div_DomeM .Div_mold .Div_shang{width:560px; height:30px; line-height:30px;}
#Div_DomeM .Div_mold .Div_shang span{font-weight:bold; font-size:14px; color:#333;}
#Div_DomeM .Div_mold .Div_xia{width:560px; margin-top:10px;}
#Div_DomeM .Div_mold .Div_xia img{float:left; padding:7px 2px; border:1px solid #ddd;}
#Div_DomeM .Div_mold .Div_M{width:560px; margin-top:10px;}
#Div_DomeM .Div_mold .Div_M .Div_bt{width:550px; font-weight:bold; padding-left:10px; height:25px; line-height:25px; border-bottom:1px solid #ddd;}
#Div_DomeM .Div_mold .Div_M .Div_list{width:540px; padding:5px 0 5px 20px;}


/*=================订单查询=========================*/
#Div_Cent .Div_D26{width:848px; padding:10px 50px; border:1px solid #e6e6e6; margin-top:10px;background:url(../images/huibg3.jpg) 0px 0px repeat-x;}
#Div_Cent .Div_D26 .Div_Tp{width:848px;}
#Div_Cent .Div_D26 .Div_TpCx{width:848px; padding-bottom:10px;text-align:center; border-bottom:1px solid #e6e6e6;}
#Div_Cent .Div_D26 .Div_TpCx .Div_Le{width:424px; float:left; text-align:right;}
#Div_Cent .Div_D26 .Div_TpCx .Div_Le span{float:right; height:30px; width:424px;}
#Div_Cent .Div_D26 .Div_TpCx .Div_Le .Inp01{width:156px; height:20px;}
#Div_Cent .Div_D26 .Div_TpCx .Div_Le .Inp02{width:81px; height:20px;}
#Div_Cent .Div_D26 .Div_TpCx .Div_Ri{width:414px; padding-left:10px; float:left; text-align:left;}
#Div_Cent .Div_D26 .Div_Lieb{width:848px;}
#Div_Cent .Div_D26 .Div_Lieb .Div_bt{width:848px; line-height:40px; font-size:14px; font-weight:bold; color:#000;}
#Div_Cent .Div_D26 .Div_Lieb .Div_list{width:846px; border:1px solid #BABECB;}
#Div_Cent .Div_D26 .Div_Lieb .Div_list ul{width:826px; padding:0 10px; line-height:25px; float:left;}
#Div_Cent .Div_D26 .Div_Lieb .Div_list .Ul01{background:#F2FBE9; font-weight:bold;}
#Div_Cent .Div_D26 .Div_Lieb .Div_list li{float:left; display:block; overflow:hidden; height:25px; line-height:25px;font-family:Arial, Helvetica, sans-serif;}
#Div_Cent .Div_D26 .Div_Lieb .Div_list .Li01{width:130px;}
#Div_Cent .Div_D26 .Div_Lieb .Div_list .Li02{width:120px;}
#Div_Cent .Div_D26 .Div_Lieb .Div_list .Li03{width:160px;}
#Div_Cent .Div_D26 .Div_Lieb .Div_list .Li04{width:100px;}
#Div_Cent .Div_D26 .Div_Lieb .Div_list .Li06{width:140px;}
#Div_Cent .Div_D26 .Div_Lieb .Div_list .Li07{width:56px;}
#Div_Cent .Div_D26 .Div_Lieb .Div_list .Li08{width:120px;}



/*=================鼠标行为=========================*/
tr.t1 td {background-color:#feefe5;}/* 交替行第一行的背景色 */
tr.t2 td {background-color:#fff6f0;}/* 交替行第二行的背景色 */
tr.t3 td {background-color:#ffe2d0;}/* 鼠标经过时的背景色 */