*,html{ margin:0; padding:0;}
html{
SCROLLBAR-FACE-COLOR: #0F4F8C;	/*滚动条凸出部分的颜色*/
SCROLLBAR-TRACK-COLOR: #BDECFE; /*滚动条的拖动区域颜色*/
SCROLLBAR-ARROW-COLOR: #3f8cdc; /*上下按钮上三角箭头的颜色*/

SCROLLBAR-DARKSHADOW-COLOR: #66c0f4;	/*立体滚动条3D界面的亮边的颜色*/
SCROLLBAR-SHADOW-COLOR: #fcfcfc;		/*立体滚动条3D界面的暗边的颜色*/

SCROLLBAR-HIGHLIGHT-COLOR: #BDECFE;		/*滚动条空白部分的颜色*/
SCROLLBAR-3DLIGHT-COLOR: #fcfcfc;		/*滚动条亮边的颜色*/
SCROLLBAR-BASE-COLOR: #fcfcfc;			/*滚动条的基本颜色*/
}

a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #016DC7;
	text-decoration: none;
}

td,div{font-size:12px;}
div{color:#FFFFFF;}

.mytable{
border-left:1px #00263D solid;
border-right:1px #00263D solid;
border-bottom:1px #00263D solid;
padding-bottom:8px;
}



.table_menu{border-left:1px #0067BE solid;
border-right:1px #0067BE solid;
border-bottom:1px #0067BE solid;
}

.left_menu_title{color:#FFFFFF;}
.inputForPwd{width:146px;height:20px;}

.btn1{ background:url(../../img/btn1.gif);width:41px;height:21px;border-width:0px;font-size:12px;line-height:21px;}
.btn2{ background:url(../../img/btn2.gif);width:82px;height:21px;border-width:0px;font-size:12px;line-height:21px;}

.table_main{border:1px #A5D2E3 solid;background-color:#A5D2E3;}
.table_main .title{background-color:#248FD7;color:#FFFFFF;}
.table_main td{background-color:#FFFFFF;padding-left:5px;height:25px;line-height:25px;}
.table_main td a{line-height:20px;}
.table_main .td{background-color:#BDECFE;}

input,select{border:1px #78BCE9 solid;height:20px; line-height:20px;padding-left:2px;}
textarea{border:1px #78BCE9 solid;}
