﻿/* 公共部分 */
body { text-align: center; font-family:"宋体", arial;margin:0; padding:0; font-size:12px; line-height:20px;}
div,form,img,ul,ol,li,dl,dt,dd,p{margin: 0; padding: 0; border: 0; }
input {margin: 0; padding: 0;}
li{list-style-type:none;}
select,input{vertical-align:middle;}
strong{}
img{vertical-align:top; margin:0px;}
em {font-style:normal;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;font-size:12px; font-weight:normal;}
/* Color */
.CRed,.CRed a/*红色*/{color:#f00; }
.CDRed,.CDRed a/*朱红*/{color:#bc2931;}
.CBlue,.CBlue a/*蓝色*/{color:#1f3a87;}
.CGray,.CGray a/*灰色*/{color: #72796F;}
.CWhite,.CWhite a/*白色*/{color:#fff;}
.CBlack,.CBlack a/*黑色*/{color:#000;}
.CYellow,.CYellow a/*黄色*/{color:#ff0;}
.CGreen,.CGreen a/*绿色*/{color:#d60000;}
.CGreen01,.CGreen01 a/*绿色*/{color:#5e7017;}
.CRed:hover,.CBlue a:hover,.CBlue a:hover,.CGray a:hover,.CWhite a:hover,.CBlack a:hover,.CYellow a:hover,.CGreen a:hover,.CGreen01 a:hover{color:#f60;}
/* Font  */
.FB {font-weight: bold;}
.F12px{ font-size:12px;}
.F14px{ font-size:14px;}
.clear{ clear: both; font-size:1px; width:1px; height:1px; visibility: hidden; overflow:hidden;}
.clearfix:after{content:"."; display:block; height: 0px; clear: both; visibility: hidden;} /* only FF */
/* 全局自定义部分 */
body{color:#4C4C4C;background: url(../images/22-autumn_topbj.jpg) center 31px repeat-x;}
/* Link */
a {color:#d30000;text-decoration:none;}
a:hover {color: #f60; text-decoration:underline;}
/* 主体部分 */
/*#Div_MAds{width:980px;height:25px; float:left; display:none;}*/
#Div_Main{width:950px;background:#fff;clear:both; float:none;text-align:left;margin:0 auto;}
/* 顶部 */
#Div_Top{width:950px;float:left;clear:both;}
#Div_Top div{float:left;}

#Div_Top .Div_Banner/*banner*/{width:950px;height:60px;}
#Div_Top .Div_Banner .Div_Logo{width:200px;height:60px;}
#Div_Top .Div_Banner .Div_Login{height:26px; float:right;background:url(../images/tlb_00.gif) right 0px no-repeat; padding:0 15px 0 0; line-height:26px; display:block;}
#Div_Top .Div_Banner .Div_Login span{float:left;display:block; color:#ffa46e;}
#Div_Top .Div_Banner .Div_Login .Sp01{width:15px; height:26px; float:left;background:url(../images/tlb_00.gif) 0px 0px no-repeat;}
#Div_Top .Div_Banner .Div_Login strong{color:#C00;}
/* 导航 */
#Div_Top .Div_Nav{width:950px; height:67px; margin-top:10px;background:url(../images/tlb_00.gif) 0px -38px no-repeat;}
#Div_Top .Div_Nav .Div_Dh{width:950px; height:30px;}
#Div_Top .Div_Nav .Div_Dh .Div_Dhn1{width:925px; padding-left:25px; height:25px;}
#Div_Top .Div_Nav .Div_Dh .Div_Dhn1 a{width:104px; height:24px; line-height:24px; margin-top:4px; display:inline; text-align:center; float:left;font-size:14px;background:url(../images/tlb_00.gif) -175px -116px no-repeat; margin-right:5px;}
#Div_Top .Div_Nav .Div_Dh .Div_Dhn1 a:hover{height:30px; line-height:30px;margin-top:0px;text-decoration:none;background:url(../images/tlb_00.gif) 0px -110px no-repeat; font-weight:bold; color:#fff; font-size:14px;}
#Div_Top .Div_Nav .Div_Dh .Div_Dhn1 a.A_Yes {height:30px; line-height:30px;margin-top:0px;background:url(../images/tlb_00.gif) 0px -110px no-repeat;  font-weight:bold; color:#fff; font-size:14px;}
#Div_Top .Div_Nav .Div_Dh .Div_Dhn1 a.A_08 {width:90px; padding-left:14px;height:30px; line-height:30px;margin-top:0px;background:url(../images/tlb_01.gif) 0px 0px no-repeat;  font-weight:bold; color:#fff; font-size:14px; margin-left:35px;}
#Div_Top .Div_Nav .Div_Dh .Div_Dhn1 a.A_08:hover{height:30px; line-height:30px;margin-top:0px;background:url(../images/tlb_02.gif) 0px 0px no-repeat;  font-weight:bold; color:#ff0; font-size:14px;}

#Div_Top .Div_Nav .Div_Gg/*公告*/{width:900px; padding:0 20px 0 30px; height:37px; line-height:37px; color:#fff000;}
#Div_Top .Div_Nav .Div_Gg a{color:#FF0;}
#Div_Top .Div_Nav .Div_Gg strong{float:left;}
#Div_Top .Div_Nav .Div_Gg .Div_Gd/*滚动*/{width:800px; height:37px; line-height:37px; overflow:hidden;}
#Div_Top .Div_Nav .Div_Gg .Div_Gd li{width:800px;height:37px; line-height:37px; float:left;}


/* 广告  */
.Div_Ads01/*广告468X60*/{width:468px;height:60px;padding:13px 10px 13px 0px;}
.Div_Ads02/*广告250X60*/{width:250px;height:60px;padding:13px 0px 13px 0px;}
.Div_Ads03/*广告200X62*/{width:200px; height:62px;}
.Div_Ads05/*广告960X60*/{width:960px; height:60px; margin-top:10px;}
.Div_Ads06/*广告960X60*/{width:960px; height:60px; margin-top:10px;}
.Div_Ads07{width:240px; margin-top:10px;}
.Div_Ads07_1{width:240px;border-bottom:1px solid #b7c868; padding:4px;}
.Div_Ads10/*最终页*/{width:667px;margin-top:10px;}
.Div_Ads11/*最终页*/{width:250px;margin-top:10px;}

.Div_Ads15/*游戏首页*/{width:700px;margin-top:10px;}

.Div_Ads_Login/*登录页*/{width:600px;}



/* 底部版权 */
#Div_Copyright{float:left;width:950px; text-align:center; padding-top:10px; font-family:Arial, Helvetica, sans-serif;color:#666; border-top:1px solid #ddd; margin-top:10px;}
#Div_Copyright .Div_list{width:950px; line-height:25px; background:#eee;}
#Div_Copyright .Div_list01{width:950px; line-height:30px;}
#Div_Copyright .Div_list a{padding:0 10px;}
#Div_Copyright a{color:#666;}
#Div_Copyright span{padding:0px 5px;}



.dropMenu /*导航下拉弹出菜单样式*/{
	BORDER-RIGHT: #419de0 1px solid; BORDER-TOP: #3ca2dc 0px solid; MARGIN-TOP: -1px; Z-INDEX: 100; BACKGROUND: url(../images/mmenubg.gif); FILTER: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA, direction=135, strength=4); VISIBILITY: hidden; PADDING-BOTTOM: 6px; BORDER-LEFT: #419de0 1px solid; WIDTH: 120px; PADDING-TOP: 6px; BORDER-BOTTOM: #419de0 1px solid; POSITION: absolute; TOP: 0px; margin-left:2px;
}
.dropMenu LI {
	MARGIN-TOP: 2px; PADDING-LEFT: 20px; MARGIN-BOTTOM: 4px
}