
#main{clear:both;OVERFLOW: hidden;width:951px;height:auto; color:#666;margin:0px auto;padding:0px;background:#fff;}


.admin_top_note{clear:both;OVERFLOW: hidden;display:block;margin:0px auto; padding:8px 10px 8px 40px;  border:1px solid #E8E8E8;  background:#F8F8F8; line-height:19px;}

.admin_userinfo{clear:both;display:block;margin:0px auto; padding:10px 0px 5px 0px;}
.admin_userinfo_left {float:left; width:503px; height:auto;}

.admin_userinfo_title{float:left;background:url(../images/title_bg.jpg) no-repeat; width:126px; height:27px; font:13px arial; font-weight:bold; text-align:center; color:#fff;line-height:27px;}
.admin_userinfo_title_sb{float:left;width:auto; height:27px;line-height:27px;  padding-left:10px;}

.admin_userinfo_box{float:left;display:block;background:url(../images/zhxx_bg.jpg) no-repeat; width:473px; height:77px; color:#666; padding-left:30px; padding-top:22px; line-height:25px; border:1px solid #ccc;}
.admin_userinfo_box span{font:16px arial; color:red; font-weight:bold;}
.admin_userinfo_box b{font-weight:normal; color:#000;}



.admin_userinfo_right{float:right; width:429px; height:auto;}
.admin_money_title{float:left; display:block;width:429px; background:url(../images/money_box_title.jpg) no-repeat; height:29px; line-height:29px;}
.admin_money_title span{float:left;width:128px; height:29px;font:13px arial; font-weight:bold; text-align:center; color:#fff; line-height:29px;}
.admin_money_title a{float:left; overflow:hidden; width:65px; margin-left:15px; background:url(../images/dot_hei.jpg) no-repeat left 12px; line-height:29px; padding-left:10px;}
.admin_money_box{float:left; display:block; margin:0px; padding:17px 0px 0px 44px;width:385px; height:83px; overflow:hidden;  color:#333; line-height:30px !important;line-height:29px; background:url(../images/money_box_bg.jpg) no-repeat;}
.admin_money_box em{margin-left:20px; font:14px arial; color:red; font-weight:bold;}
.admin_money_box b{ font:22px arial; color:#000; font-weight:bold;}


.admin_userinfo2{clear:both;width:951px;display:block;margin:0px auto;padding:10px 0px 0px 0px;}
.admin_userinfo_box2{clear:both;float:left;width:946px; overflow:hidden;margin:0px auto; padding:1px 1px 20px 1px;border:1px solid #b4b4b4;}
.admin_userinfo_box3{clear:both;float:left;width:946px; overflow:hidden;margin:0px auto; padding:1px 1px 1px 1px;border:1px solid #ccc; margin-bottom:5px;}


#admend_box {display:block; background: url(../images/admin_admend_bg.jpg) repeat-x; height:28px; text-align:right; padding-right:10px; padding-top:6px;}

#admend_box a{float:right;height:21px; margin-right:10px; padding:0px 12px; color:#000;text-decoration:none; text-align:center; line-height:21px; background:url(../images/botton_bg.jpg) repeat-x; border:1px solid #AECADF;}
#admend_box a:hover{float:right;height:21px; margin-right:10px; padding:0px 12px; color:green; text-decoration:none; text-align:center; line-height:21px; background:url(../images/botton_bg.jpg) repeat-x; border:1px solid #AECADF;}


.admin_userinfo_admend_box {clear:both;display:block;margin:0px auto;padding:10px 0px; height:170px; margin-top:10px; font:12px arial; color:#333;;}
.admin_userinfo_admend_box_left{float:left; width:104px; overflow:hidden; padding-left:60px; text-align:center;}
.admin_userinfo_admend_box_left img{display:block; width:102px; height:117px; border:1px solid #ccc; margin:0px auto;}
.admin_userinfo_admend_box_left span{display:block; font:12px arial; color:#999;text-align:center; line-height:17px;padding-top:4px;}
.admin_userinfo_admend_box_left em{color:red; font-style:normal;}
.admin_userinfo_admend_box_right{float:right;width:700px;margin:0px; padding:0px 20px 0px 0px;}
.admin_userinfo_admend_box_ul {display:block;width:700px; margin:0px; padding:0px;}
.admin_userinfo_admend_box_ul li{clear:both;display:block; height:30px; line-height:30px; border:1px solid #E8F8C2; padding-left:20px; margin-bottom:2px;}
.admin_userinfo_admend_box_ul li.listyle1{background:#F4FCE4;}
.admin_userinfo_admend_box_ul li.listyle2{background:#FFF;}


.admin_userinfo_admend_box_ul li span{float:left; width:93px; height:30px; line-height:30px;}
.admin_userinfo_admend_box_ul li em{float:left; width:260px; font-weight:bold; font-style:normal; line-height:30px; }
.admin_userinfo_admend_box_ul li em input{float:left; width:186px; height:18px; font:14px arial; color:#000; line-height:18px; padding-left:10px; margin-top:2px;}
.admin_userinfo_admend_box_ul li a{float:left;}


.jszh_left{float:left;width:434px; height:491px; background:url(../images/jszh_left_bg.jpg) no-repeat; padding-top:15px;margin-top:15px; margin-left:15px; }
.jszh_right{float:right; width:437px; margin-top:15px; margin-right:20px;}


.jszh_add_box{display:block; margin:0px auto; padding:0px; width:406px; height:auto; margin-top:10px;margin-bottom:25px;}
.h1_jszh{display:block;margin:0px auto;width:406px; height:22px;color:#666; line-height:22px;}

.title_jszh_green{display:block; height:31px; overflow:hidden; background:url(../images/jszh_green_title.jpg) no-repeat;}
.title_jszh_green span{font:13px arial; color:#333; line-height:35px; margin-left:29px; }
.title_jszh_green em{font:12px arial; color:#fff; font-style:normal; line-height:31px; margin-left:39px; }

.title_jszh_yellow{display:block; height:31px;overflow:hidden; background:url(../images/jszh_yellow_title.jpg) no-repeat;}
.title_jszh_yellow span{font:14px arial; color:#000; line-height:35px; margin-left:29px; }
.title_jszh_yellow em{font:12px arial; color:#fff; font-style:normal; line-height:35px; margin-left:35px; }



.jszh_add_box_wrap{display:block;width:383px; margin:0px auto; padding:15px 10px 25px 10px; background:#fff; border:1px solid #ccc; border-top:0px;}

.jszh_add_box_wrap h1{clear:both;display:block; margin:0px auto;font:12px arial; height:25px; font-weight:normal; font-style:normal; color:#333;line-height:25px; margin-top:4px;}
.jszh_add_box_wrap h1 span{float:left; width:90px; height:25px; color:#333; text-align:left; padding-left:30px;  }
.jszh_add_box_wrap h1 em{float:left; width:259px; height:25px; text-align:left; }
.jszh_add_box_wrap h1 input{width:224px; height:18px;font:14px arial; color:#000; font-weight:bold; line-height:18px; padding-left:5px;}


#jszh_right_blog {clear:both; margin:0px auto; padding:0px; width:437px;}

#jszh_right_blog h1{float:left;display:block;  width:410px;background:url(../images/dot2.png) no-repeat left 4px; height:28px; font:12px arial;  line-height:28px; padding-left:27px; margin-bottom:5px;}
#jszh_right_blog h1 span{font:14px arial;font-weight:bold; margin-left:10px; margin-right:10px;}

#jszh_right_blog h5{float:left; display:block;  width:410px; background:url(../images/dot2.jpg) no-repeat left 1px; height:28px; font:12px arial;  line-height:28px; padding-left:27px; margin-top:16px;margin-bottom:5px;}
#jszh_right_blog h5 span{font:14px arial;font-weight:bold; margin-left:70px; margin-right:10px;}


#jszh_right_blog .h22{clear:both;display:block; width:437px;margin-top:6px;padding:5px 0px 5px 0px; border:1px solid #ccc;}
#jszh_right_blog h3{display:block; width:427px; height:22px; font:12px arial; line-height:22px; background:url(../images/line_bg2.jpg) repeat-x; text-align:right; padding-right:10px;}
#jszh_right_blog .moren{color:#FF9901;}
#jszh_right_blog h4 {display:block;width:412px;font:13px arial;line-height:30px; padding-left:25px; padding-top:3px; padding-bottom:3px;}
#jszh_right_blog h4 em{color:#000; margin-left:20px;}

.width889{width:889px;margin:0px auto; margin-top:10px;}
.marignauto{clear:both;width:850px;margin:0px auto;}
.displayblock{display:block; width:100%;height:45px; margin-top:5px; margin-left:120px;}

.admin_userinfo_phone{clear:both;display:block;width:869px;margin:0px auto; margin-top:10px; border:1px solid #C1F773; padding:10px 10px 10px 10px;}
.admin_userinfo_phone p{ display:block;width:855px; margin:0px auto;padding-left:15px; height:45px;color:#999;line-height:45px;}
.admin_userinfo_phone b{color:#5BB401;}

.em1{font:12px arial; font-weight:lighter; color:green; font-style:normal;color:#666;}
.list3{border:0px; font-weight:normal;}



.answer_box{width:351px; height:65px; background:url(../images/answerbox.gif) no-repeat;font:13px arial; line-height:27px; padding-left:110px; padding-top:12px; margin-left:85px; margin-top:20px; padding-bottom:12px;}

.answer_box2{width:351px; height:110px; background:url(../images/answerbox2.gif) no-repeat;font:14px arial; line-height:27px; padding-left:110px; padding-top:12px; margin-left:85px; margin-top:20px; padding-bottom:10px;}


.userinfomationbox {width:290px; padding-left:22px; padding-top:8px; padding-bottom:10px; line-height:23px;margin-top:20px; margin-right:10px;}

.pay_note{display:block; padding:10px 10px 10px 50px;border-bottom:1px solid #CCCCFF;}


#page_details{clear:both;display:block; width:820px; margin:0px auto; padding:0px;}
#page_detail_contain fieldset{clear:both;display:block;margin:0px auto;  padding:10px 10px 30px 10px;font:14px arial; }
#page_detail_contain legend{color:#799D0D; font-weight:bold; padding:20px 10px;}
#page_detail_contain .note1{display:block;width:430px; margin:0px auto;font:14px arial; line-height:23px; padding-top:30px; padding-bottom:30px; background:#F4FCE4 url(../images/car.gif) no-repeat 95px 15px; padding-left:200px; margin-bottom:20px;}
#page_detail_contain label{clear:both;width:625px; display:block; margin:0px auto; padding-left:5px; height:35px; line-height:35px;}
#page_detail_contain label span{float:left;width:80px; color:#666;}
#page_detail_contain label em{float:left; width:auto; color:#000;}


#page_detail_contain2 fieldset{clear:both;display:block;margin:0px auto;  padding:10px 10px 30px 10px;font:14px arial; }
#page_detail_contain2 legend{font:16px arial;color:#000; font-weight:bold; padding:20px 10px 20px 40px;  background:url(../images/vmeet_icon_arrow_down.gif) no-repeat 8px 15px;}
#page_detail_contain2 label{clear:both;width:625px; display:block; margin:0px auto; height:35px; color:#666; line-height:35px;}
#page_detail_contain2 label span{font:16px arial;font-weight:bold;}
#page_detail_contain2 table{ width:625px; margin:0px auto;}





#titleandnote{display:block;margin:0px auto; padding:0px;}
#titleandnote h1{ display:block; height:34px; font:14px arial; font-weight:bold; color:#000;line-height:34px; background:url(../images/vmeet_icon_title.gif) no-repeat 10px 5px; padding-left:40px; }
#titleandnote h2{clear:both;display:block;padding-top:3px; font:12px arial; color:#666; line-height:21px; padding-left:30px;}
#titleandnote h2 span{display:block;width:102px; font:12px arial;font-weight:bold; color:#666; line-height:22px;margin-right:15px; background:url(../images/dot_hei.jpg) no-repeat 1px 9px; padding-left:10px;}
#titleandnote h2 em{ display:block;  font:12px arial; line-height:19px; padding-left:10px; }



#titleandnote2{clear:both;display:block; width:600px; margin:0px auto; padding:0px; margin-left:20px;}
#titleandnote2 fieldset{clear:both;display:block;margin:0px auto;  padding:10px 10px 30px 10px; border:1px solid #BFEB58; }
#titleandnote2 legend{height:34px; font:16px arial; font-weight:bold; color:#000;line-height:34px; background:url(../images/vmeet_icon_title.gif) no-repeat 10px 5px; padding-left:40px; padding-right:20px; }
#titleandnote2 label{clear:both;width:560px; display:block; margin:0px auto; padding:3px 0px; font:12px arial;line-height:21px;}
#titleandnote2 label span{float:left;  font:12px arial; width:65px; color:#666; padding-left:10px;}
#titleandnote2 label em{float:left;  font:12px arial; width:auto; color:#000;}


.tixianinput{line-height:24px; display:block; margin-top:10px; padding-left:30px; padding-top:5px; padding-bottom:5px;}
.tixianinput input{color:#000;font-weight:bold;}

.labelclass1{display:block;margin:0px auto; padding:0px; width:auto; height:50px; font:12px verdana;line-height:50px; margin-left:18px;}

.labelclass1 label{padding:3px 7px; vertical-align:middle;}




.feilu1{clear:both;display:block;margin:0px auto; width:819px;  padding:2px 10px 10px 5px;font:12px arial; border:0px; }
.feilu1 legend{font:14px arial;color:#000; font-weight:bold; padding:15px 10px 15px 40px;  background: url(../images/vmeet_icon_title.gif) no-repeat 8px 11px;}
.feilu1 label{clear:both;width:790px; display:block; margin:0px auto; height:auto;color:#333; line-height:26px; margin-bottom:2px; }
.feilu1 div.current{clear:both;width:640px; display:block; height:auto;color:#333; line-height:26px;background:#FFF8E1; border:1px solid #FFE793; margin-top:6px; padding-left:10px; margin-left:120px; }
.feilu1 div.current span{display:inline;font:12px arial;font-weight:bold; color:#333;padding:3px 10px;}

.feilu1 label span{display:inline;font:14px arial;color:#999;padding:3px 10px;}
.feilu1 label em{font:14px verdana;color:#666; margin-left:10px;}



.feilu2{clear:both;display:block;margin:0px auto; width:100%; height:auto; min-height:200px;padding:8px 0px 10px 0px;font:12px arial; border:0px; }
.feilu2 legend{diplay:block; font:14px arial;color:#666;padding-top:5px;margin-top:5px;}
.feilu2 .wenzi{diplay:block; font:14px arial;color:#666;padding-top:5px; padding-bottom:5px;padding-left:10px;}
.feilu2 .wenzi label{line-height:33px;}
.feilu2 .wenzi textarea{height:33px; width:614px; font:13px arial;}
.feilu2 .imgtu{float:left; margin:0px auto; width:100%;text-align:center;  padding-top:8px; padding-bottom:8px;}



.feilu3{clear:both;display:block;margin:0px auto; width:819px;  padding:2px 10px 10px 5px;font:12px arial; border:1px solid #E1E1E1;margin-top:5px;}
.feilu3 legend{font:13px arial;color:#6FBE16; font-weight:bold; padding:5px 10px 5px 10px;}
.feilu3 .wenzi{diplay:block; font:13px arial;line-height:22px;padding-left:20px; }
.feilu3 .wenzi em{color:#000; font-weight:bold;line-height:22px;margin-left:3px;}
.feilu3 .feiluem{float:left;diplay:block; font:13px arial; width:100%;line-height:22px;}
.feilu3 .feiluemdisable{float:left;diplay:block; font:13px arial; color:#aaa; width:100%;}
.feilu3 .feiluemdisable input{float:left;margin-right:5px;}
.feilu3 .feiluemdisable span.inline{float:left;display:table;width:120px; font:13px arial; line-height:22px;}
.feilu3 .feiluemdisable span.inline2{float:left;display:table;width:50px; font:13px arial; font-weight:bold; line-height:22px;}
.feilu3 .feiluem input{float:left;margin-right:5px;}
.feilu3 .feiluem span.inline{float:left;display:table;width:120px; font:13px arial; line-height:22px;}
.feilu3 .feiluem span.inline2{float:left;display:table;width:50px; font:13px arial; color:#000; font-weight:bold; line-height:22px;}

.feilu3 .sengji{float:left;display:block; width:748px; margin:0px auto;color:#333; line-height:30px;background:#FFF8E1; border:1px solid #FFE793; padding-left:20px;margin-top:10px;margin-left:26px;}
.feilu3 .sengji span{font:13px arial;font-weight:bold; color:#333;}
.feilu3 .sengji input{margin-right:2px;margin-left:10px;}





.zddaima{clear:both;display:block; margin:0px auto;padding:0px 5px; height:100px;  margin-top:2px; background:#F5F9FF; border-bottom:1px solid #C1DBFF;}
.zddaima .num{float:left; width:70px; height:47px; padding-top:37px; background:url(../images/zdpic2.gif) no-repeat; font:28px arialblack; color:#fff; font-weight:bold; text-align:center;margin-left:30px; margin-top:5px;}
.zddaima .name{float:left; width:245px; font:14px arial; line-height:25px; padding-left:35px; padding-top:8px;}
.zddaima .name span{color:#000; font-weight:bold;}

.zddaima .zifu{float:left; width:auto; font:14px arial; color:#000; line-height:25px;padding-top:8px;}
.zddaima .zifu span{font:12px arial; color:#666;}


.zddaima2{clear:both;display:block; margin:0px auto;padding:0px 5px; height:140px;  margin-top:3px; background:#FFFAF2; border-bottom:1px solid #FFCC80;}
.zddaima2 .num{float:left; width:95px; height:64px; padding-top:50px; background:url(../images/zdpic.gif) no-repeat; font:40px arialblack; color:#fff; font-weight:900; text-align:center;margin-left:30px; margin-top:10px;}
.zddaima2 .name{float:left; width:245px; font:14px arial; line-height:30px; padding-left:35px; padding-top:18px;}
.zddaima2 .name span{color:#000; font-weight:bold;}

.zddaima2 .zifu{float:left; width:auto; font:14px arial; color:#000; line-height:30px;padding-top:18px;}
.zddaima2 .zifu span{font:12px arial; color:#666;}


.admin_zfkwrap{clear:both;width:951px;display:block; overflow:hidden; margin:0px auto;padding:10px 0px 10px 0px;}


.box_zfkadmin{display:block; width:422px; height:490px; overflow:hidden;background:#F8F9FB; border:1px solid #D5D5D5; padding:0px 20px 20px 20px;}
.box_zfkadmin h1{display:block; height:40px; margin:0px auto; padding:0px; background:url(../images/sell_bar.png) no-repeat 1px 11px; font:12px arial; line-height:40px; padding-left:24px; margin-top:5px;}
.box_zfkadmin h4{display:block; height:40px; margin:0px auto; padding:0px; background:url(../images/sell_bar.png) no-repeat 1px bottom; font:12px arial; line-height:40px; padding-left:24px; margin-top:5px;}

.box_zfkadmin h5{display:block; background:url(../images/huibg.jpg) repeat-x left top;}
.box_zfkadmin h5 span{display:block;  padding:25px 0px 25px 140px; background: url(../images/cpadd_pic2.jpg) no-repeat 60px 8px;}



.box_zfkadmin h2{display:block; background:url(../images/huibg.jpg) no-repeat left top;}
.box_zfkadmin h2 span{display:block;  padding:25px 0px 25px 140px; background: url(../images/cpadd_pic1.jpg) no-repeat 60px 8px;}
.box_zfkadmin h3{display:block; background:#fff; border:1px solid #C8DEFF; height:348px; margin-top:12px;}

.radiobox1{float:left;width:177px; height:310px; margin-left:23px; margin-top:20px;}
.radiobox2{display:block;width:370px; height:310px; margin:0px auto; margin-top:20px;}


#menull{clear:both;display:block;height:29px; border-bottom:1px solid #BCDD95;padding-top:2px;  overflow:hidden;}

#menull a,#menull a:hover,#menull a:visited,#menull a:active{float:left; width:137px; height:33px; background:url(../images/menull_off.jpg) no-repeat; font:13px arial; text-align:center;  line-height:36px;margin-right:6px;}
#menull a.current,#menull a.current:hover,#menull a.current:visited,#menull a.current:active{float:left; width:137px; height:33px; background:url(../images/menull_on.jpg) no-repeat; font:13px arial; font-weight:bold; color:#000; text-align:center; text-decoration:none; line-height:33px;}

#menull a.current3{float:left; width:137px; height:33px; background:url(../images/menull_on.jpg) no-repeat left bottom; font:13px arial; font-weight:bold; color:#333; text-align:center; text-decoration:none; line-height:33px;  margin-top:1px;}


#menull a.current2{float:left; width:253px; height:33px; background:url(../images/menull_on2.jpg) no-repeat; font:14px arial; font-weight:bold; color:#004D80; text-align:center; text-decoration:none; line-height:33px;  margin-top:1px;}
#menull a.current2 img{vertical-align:middle; margin-left:4px; margin-right:4px;}

#menull a.helpicon{float:left; width:90px; height:22px; background:url(../images/sell_bar.png) no-repeat 2px 2px; font:12px arial; color:#000; text-align:center; text-decoration:underline;  line-height:22px; padding-left:20px; margin-right:10px;}
#menull a.helpicon:hover{float:left; width:90px; height:22px; background:url(../images/sell_bar.png) no-repeat 2px 2px; font:12px arial; color:green; text-align:center; text-decoration:underline;  line-height:22px; padding-left:20px; margin-right:10px;}


/* 原来的定义 
#menull2{clear:both;display:block;height:26px; border-bottom:1px solid #4DA004;}

#menull2 a{float:left; width:128px; height:24px; background:url(../../images/admin/tab_bg2.jpg) repeat-x left bottom; font:13px arial; text-align:center; color:#307701; text-decoration:none;line-height:24px; border:1px solid #4CA503; border-left:1px solid #fff; border-bottom:0px;}

#menull2 a:hover{float:left;background:url(../../images/admin/tab_bg3.jpg) repeat-x left bottom; color:#307701;}

#menull2 a.current{float:left; width:118px; height:26px; overflow:hidden; background:#fff url(../../images/admin/tab_bg1.jpg) no-repeat 13px 4px; font:13px arial;color:#000; font-weight:bold;line-height:27px; border:1px solid #4CA503;border-bottom:0px; padding-left:10px;}
*/

#menull2{clear:both;display:block; overflow:hidden;height:27px; border-bottom:1px solid #b4b4b4;}

#menull2 a{float:left; background:url(../images/title_bg109.jpg) no-repeat; width:109px; height:27px; font:13px arial; text-align:center;font-weight:bold;text-decoration:none; line-height:27px;  }

#menull2 a:hover{float:left; color:#66C914; }
#menull2 a.current,#menull2 a.current:hover,#menull2 a.current:visited,#menull2 a.current:active{float:left;background:url(../images/title_bg1091.jpg) no-repeat; width:109px; height:29px; font:13px arial; font-weight:bold; text-align:center; color:#fff; text-decoration:none;line-height:29px; }

#menull2 span{float:right; color:#999; line-height:27px;}
#menull2 a.helpicon{float:left; width:auto; height:22px; background:url(../images/sell_bar.png) no-repeat 2px 2px; font:12px arial;text-decoration:underline;  line-height:22px; padding-left:22px; margin-right:10px; margin-left:10px;}



#menull3{clear:both;display:block;overflow:hidden;height:27px; border-bottom:1px solid #b4b4b4;}

#menull3 a{float:left; background:url(../images/title_bg4.jpg) no-repeat; width:127px; height:27px; font:13px arial; text-align:center;font-weight:bold;text-decoration:none; line-height:27px;  }

#menull3 a:hover{float:left; color:#66C914; }
#menull3 a.current,#menull3 a.current:hover,#menull3 a.current:visited,#menull3 a.active{float:left;background:url(../images/title_bg.jpg) no-repeat; width:127px; height:29px; font:13px arial; font-weight:bold; text-align:center; color:#fff; text-decoration:none;line-height:29px; }

#menull3 span{float:right; color:#999; line-height:28px;}
#menull3 a.helpicon{float:left; width:auto; height:22px; background:url(../images/sell_bar.png) no-repeat 2px 2px; font:12px arial;text-decoration:underline;  line-height:22px; padding-left:22px; margin-right:10px; margin-left:10px;}



#menull4 {display:block;width:142px; height:auto;padding-left:14px;padding-top:10px; padding-bottom:80px; background:url(../images/menubgbg.gif) repeat-y right top;}
#menull4 a,#menull4 a:hover,#menull4 a:visited,#menull4 a:active{display:block; width:142px;height:28px; background:url(../images/menubg2.gif) no-repeat; color:#006600; text-decoration:none;text-align:center; line-height:28px; margin-top:5px;}
#menull4 a.current,#menull4 a.current:hover,#menull4 a.current:visited,#menull4 a.current:actsive{display:block;width:142px; height:34px; background:url(../images/menubg1.gif) no-repeat; font-weight:bold;color:#000; text-align:center; line-height:34px;}





.fenlei{clear:both;float:left;display:block;width:889px;height:auto; padding:20px 30px; border-top:0px;}
.fenlei h1{display:block; padding-left:10px; padding-top:10px; padding-bottom:10px; font:12px arial; vertical-align:middle;}
.fenlei h2{display:block; padding-left:10px; padding-top:5px; padding-bottom:10px; font:12px arial; vertical-align:middle;}


.fenlei2{clear:both;float:left;display:block;width:889px;height:auto; padding:10px 30px; border:1px solid #4DA004; border-top:0px;}

.fenlei3{float:left;display:block; width:947px;height:auto; padding:1px 1px; border:1px solid #b4b4b4; border-top:0px;}


.cats-list{width:100%;margin:0px auto;padding:0px;}
.cats-table{width:100%;border:1px solid #ccc;}
.cats-table th{background:#F2FBE1; height:26px; border-top:1px solid #fff; font-weight:normal; text-align:center; color:#999; line-height:26px;}
.cats-table td{text-align:center;padding:5px 3px; background:#fff; border-bottom:1px solid #EBEBEB; line-height:23px;}
a.moveupclick {display:block; margin:0px auto; width:21px; height:16px; margin-top:5px;}
a.moveupclick:hover{display:block; width:21px; height:16px; vertical-align:middle; background:url(../images/upbg.png) no-repeat;}
.moveupclick img{margin-top:1px; width:14px; height:14px;}

.J_Select {width:124px; vertical-align:middle;}
.J_CatName{width:195px; height:18px; line-height:18px; color:#000;}
.J_CatName2{width:172px; height:18px; line-height:18px; color:red;}
.J_CatName3{width:140px; _width:145px; *width:145px; height:18px; line-height:18px; color:red;}
.J_CatName4{width:300px; height:18px; font:14px verdana; color:#000;vertical-align:middle;line-height:18px; padding-left:5px; }
.J_CatName6{width:150px; height:18px; font:14px verdana; color:#000;vertical-align:middle;line-height:18px; padding-left:5px; }
.J_CatName5{width:510px; height:180px; line-height:18px; color:#000;}

.kaminote{display:block;width:150px; height:220px; background:url(../images/kamibox.png) no-repeat; line-height:19px; padding-left:24px; padding-right:11px; padding-top:5px;}
.kaminote p{margin:0px auto; padding:0px;margin-top:4px; color:#666;}
.kaminote span{margin:0px auto; padding:0px;margin-top:4px; font:12px arial; color:red; line-height:18px;}


.cats-table2{width:100%;border:1px solid #EBEBEB;}
.cats-table2 th{background:#f1f1f1; border-bottom:1px solid #EBEBEB; border-left:1px solid #EBEBEB;border-right:1px solid #EBEBEB; font-weight:normal; text-align:center; color:#666; line-height:34px;}
.cats-table2 td{background:#f8f8f8; padding:5px 4px;border-bottom:1px solid #EBEBEB; line-height:34px; padding-left:30px;}



#answerbox_bg{display:block; margin:0px auto; padding:0px; width:616px; height:265px; background:url(../images/box_bg1.jpg) no-repeat; margin-top:30px;}
		
		#answerbox_bg h1{float:left;display:block;width:616px; margin:0px auto; height:32px; line-height:32px;background:url(../images/apijk.jpg) no-repeat 450px top; margin-top:17px;}
		
		
		#answerbox_bg h2{display:block; margin:0px auto; width:450px; height:93px; font:14px arial; font-weight:normal; font-style:normal;color:#333; line-height:32px; background:url(../images/phone_yz_pic.jpg) no-repeat left top; border-bottom:1px solid #ccc;padding-left:102px;padding-top:10px; }
		#answerbox_bg h3{clear:both;display:block; margin:0px auto; width:450px; height:28px; font:14px arial;font-style:normal;color:#333; line-height:28px;padding-left:102px;padding-top:15px;}
		#answerbox_bg h3 span{float:left;height:28px;font-weight:bold;line-height:28px;}
		#answerbox_bg h3 .inputstyle1{float;left;background:url(../images/input_style_bg.jpg) no-repeat; border:0px; width:146px;height:28px; font:16px arial; color:#499001; font-weight:bold; line-height:25px; padding-left:10px;}		
		#answerbox_bg h4{display:block;margin:0px auto;width:450px; height:35px; font:12px arial;font-weight:normal; font-style:normal;color:red;line-height:35px;padding-left:102px;}
		
		#answerbox_bg h5{float:left;display:block; margin:0px auto; height:32px; line-height:32px;background:url(../images/email_rz_title.jpg) no-repeat 483px top; margin-top:17px;}
		
		
		#answerbox_bg h6{float:left;display:block; margin:0px auto; width:440px; height:100px; font:14px arial; font-weight:normal; font-style:normal;color:#333; line-height:32px; background:url(../images/04.png) no-repeat left top; border-bottom:1px solid #ccc;padding-left:122px;padding-top:14px; margin-left:24px; }
		
		
#pzzl_titlebg { clear:both;display:block; background: url(../images/pzzl_bg.jpg) repeat-x; height:36px; line-height:36px;}
#pzzl_titlebg span{width:auto; height:36px; color:#000; font-weight:bold;line-height:36px; padding-left:20px; }
#pzzl_titlebg a{float:right;}







.admin_pzzl_content{float:left;display:block; width:93%; margin:0px auto; padding:0px; background:url(../images/huibg.jpg) repeat-x; padding-top:20px; padding-bottom:20px; padding-left:7%; font:12px verdana; color:#666; line-height:19px; }

.admin_pzzl_content .itemtu{ display:block; padding:6px; width:54px; height:54px; background:url(../images/ffbox.png) no-repeat;text-align:center;vertical-align:middle;}
.admin_pzzl_content .itemtu img{height:54px;}

.admin_pzzl_content_text{display:block;margin:0px; padding:0px; width:730px;}
.admin_pzzl_content_text p{float:left; width:100%;display:block;margin:0px;padding:0px;color:#999;line-height:16px; margin-top:4px; padding-bottom:0px;}
.admin_pzzl_content_text span{float:left;width:330px; font:12px verdana; color:#333; line-height:16px;padding-left:9px;}
.admin_pzzl_content_text strong{display:block;color:#5AB003; font-weight:normal; line-height:19px;;}
.admin_pzzl_content_text b{font:12px verdana; font-weight:normal;color:#000; margin-left:4px;}


.cats-table3{width:100%;}
.cats-table3 th{background:#eee; height:19px; border-top:1px solid #fff; font-weight:normal;color:#004D80; line-height:18px;}
.cats-table3 td{background:#fff; border-bottom:1px solid #EBEBEB; line-height:18px;}

.zifu_tu_link{display:block; overflow:hidden;width:765px;margin:0px auto; padding-top:15px; font:12px arial;padding-left:5px; }
.zifu_tu_link a.current{float:left;margin-right:4px; width:145px; height:24px; text-align:center; font-weight:bold; line-height:21px; background:#EBF9C8;border:1px solid #64B10B;}
.zifu_tu_link a{float:left;margin-right:4px; width:145px; height:24px;color:#333; text-align:center;text-decoration:none; line-height:21px;background:#fff;border:1px solid #ccc;}













