﻿#top_head{clear:both; display:block; OVERFLOW: hidden; height:19px;margin:0px auto; padding:3px 0px;background:#FFFFE1; color:000;  border-bottom:1px solid #ACA899; line-height:18px; }
#top_head .top_head_wrap{clear:both; width:941px; overflow:hidden; margin:0px auto; padding-left:10px;}
#top_head a{float:right; display:inline; margin-right:20px;}


.top{clear:both;display:block;OVERFLOW: hidden;width:951px;height:75px;margin:0px auto;padding:0px; background:url(../images/topbg.jpg) repeat-x left bottom;}
	.logo{FLOAT: left;OVERFLOW: hidden; margin:0px; width:500px; height:75px; background:url(../images/logogg3.jpg) left 8px no-repeat;  }
	.logo span{float:left; margin-left:155px; overflow:hidden; height:40px; font:13px arial; color:#008000; line-height:67px; border-left:1px solid #008000;margin-top:25px; padding-left:10px;}
	.logo img{margin-left:160px; margin-top:25px;}
	.logogg{FLOAT: left;OVERFLOW: hidden; margin:0px; width:500px; height:56px; background:url(../images/logo.gif) 0px 0px no-repeat;  }
	.logogg img{margin-left:192px; margin-top:10px;}
	.logogy{FLOAT: left;OVERFLOW: hidden; margin:0px; width:500px; height:56px; background:url(../images/business_logo.jpg) 2px 7px no-repeat; }
	.logogy img{margin-left:115px; margin-top:18px;}
	.top_right{
		 FLOAT: right; WIDTH: auto;  height:40px; padding:0px 0px 0px 0px;}
		.top_logon_in{float:left;width:210px; height:26px; margin:0px; color:#ccc; line-height:24px; background:url(../images/toplogin_bg.jpg) no-repeat; padding-left:31px;}
		.top_logon_in_business{float:left;margin:0px;height:25px; color:#999;line-height:25px;background:url(../images/msn_dot.png) 0px 4px no-repeat; padding-left:20px;margin-top:26px;}
		.top_logon_in_business strong{color:#000;margin-right:8px;}
		.top_logon_out{float:left;margin:0px;height:25px;margin-top:26px;}
		
	
#dh_test{OVERFLOW: hidden;width:951px;height:41px;margin:0px auto;padding:0px;text-align:center;background:url(../images/dhbg.jpg) no-repeat; }
	#dh_test ul {float:left; margin:7px 0px 0px 0px;padding:0px 0px 0px 40px; height:34px; text-align:center;  }
	#dh_test ul li{float:left; margin:0px auto;padding:0px; width:116px;height:34px; list-style:none;font-size:14px;font-weight:bold; margin-right:9px;  background:url(../images/line.jpg) no-repeat right top;}
	#dh_test ul li A { float:left; width:103px; height:34px;  COLOR: #fff; TEXT-DECORATION: none; text-align:center;line-height:32px; }
	#dh_test ul li A:hover { float:left;COLOR: yellow;background:url(../images/dhitembg2.jpg) no-repeat 0px 1px; }
	#dh_test ul li A.current1 { float:left;COLOR: #000;background:url(../images/dhitembg.jpg) no-repeat; }
	
#dh_business{OVERFLOW: hidden;width:951px;height:41px;margin:0px auto;padding:0px;text-align:center;background:url(../images/business_dh.jpg) no-repeat; }
	#dh_business ul {float:left; margin:7px 0px 0px 0px;padding:0px 0px 0px 30px; height:34px; text-align:center;  }
	#dh_business ul li{float:left; overflow:hidden;margin:0px auto;padding:0px; width:95px;height:34px; list-style:none;font-size:14px;font-weight:bold; margin-right:4px; background:url(../images/line2.jpg) no-repeat right 3px;}
	#dh_business ul li A { float:left; overflow:hidden; width:90px; height:34px;  COLOR: #fff; TEXT-DECORATION: none; text-align:center;line-height:30px !important;line-height:34px;}
	#dh_business ul li A:hover { float:left;COLOR: #fff; background:url(../images/dhitembg01.jpg) no-repeat 0px 1px; }
	#dh_business ul li A.current1 { float:left;COLOR: #000; background:url(../images/dhitembg1.jpg) no-repeat;}
    #dh_business ul li span.new{float:left;width:80px; height:34px;  overflow:hidden; TEXT-DECORATION: none; font-weight:bold; text-align:center;line-height:30px !important;line-height:34px; background:url(../images/note_dot.gif) no-repeat right 3px;cursor:pointer; }



#dh{OVERFLOW: hidden;width:951px;height:41px;overflow:hidden; margin:0px auto;padding:0px;text-align:center;background:url(../images/gg_dhbg.jpg) no-repeat; }
	#dh ul {display:block;width:921px; overflow:hidden; float:left; margin:0px auto;padding:0px 10px 0px 20px; height:41px; text-align:center;  }
	#dh ul li{float:left; margin:0px auto;padding:0px; width:89px;height:41px; list-style:none;font-size:14px;font-weight:bold; background:url(../images/line_2.jpg) no-repeat right 12px; padding-left:10px;}
	#dh ul li A { float:left; width:84px; height:41px;overflow:hidden;  COLOR: #fff; TEXT-DECORATION: none; text-align:center;line-height:46px !important;line-height:46px;}
	#dh ul li A:hover { float:left;COLOR: #fff;  background:url(../images/dhitembg4.jpg) no-repeat; }
	#dh ul li A.current1 { float:left;COLOR: #DCFDBB; background:url(../images/dhitembg_1.jpg) no-repeat;}
	#dh ul li span.new{float:left; width:84px; height:41px; overflow:hidden;  COLOR: #fff; TEXT-DECORATION: none; font-weight:bold; text-align:center;line-height:46px !important;line-height:46px; background:url(../images/note_dot.gif) no-repeat right 7px; cursor:pointer; }
	
	#dh ul li.toporderbotton{float:right;margin:0px auto;padding:0px; width:111px;height:41px; list-style:none; background:none; }
	#dh ul li.toporderbotton a{width:111px; height:31px;margin-top:5px;}



	.subdh {clear:both;overflow:hidden;display:block;width:951px; height:32px; line-height:20px; margin:0px auto;padding:0px; background:#fff; background:url(../images/business_dh_s.jpg) no-repeat; }
	#default{padding-left:40px;padding-top:5px;width:911px;}
		#default a{float:left; overflow:hidden;margin-left:5px; width:93px; height:20px; color:#666;text-align:center; TEXT-DECORATION: none; line-height:22px;line-height:19px !important; }
		#default a:hover{float:left;margin-left:5px; color:Green;text-align:center; background:url(../images/business_dh_s_m1.jpg) no-repeat; }
		#default a.currentwhite{float:left;margin-left:5px; color:#fff; text-align:center; font-weight:bold;TEXT-DECORATION: none; background:url(../images/business_dh_s_m.jpg) no-repeat;}

    #copyright {display:block; margin:0px auto;OVERFLOW: hidden;width:951px; height:190px; background:#fff; padding:0px 0px 6px 0px;font:12px tohama; font-weight:normal; text-align:center; line-height:20px; margin-top:9px;}	
    #copyright .copyright_menu{display:block; color:#666;text-align:center; height:30px; line-height:30px; background:url(../images/huibg4.jpg) repeat-x; border:1px solid #D4D4D4;}
    #copyright .copyright_menu a{margin-left:8px;margin-right:8px;}
	#copyright img{margin:0px auto;margin-top:3px;margin-right:3px;margin-left:3px;}
    #copyright a {font:11px Tohama;color:#666; text-decoration:none;}
	#copyright a:hover{color:#333; }
    #copyright span{display:block;padding-top:5px;}
    
	
#main{clear:both;OVERFLOW: hidden;width:951px;height:auto; color:#666;margin:0px auto;padding:0px;background:#fff;}


.business_top_note{clear:both;OVERFLOW: hidden;display:block;margin:0px auto; padding:8px 10px 8px 40px;  border:1px solid #E8E8E8;  background:#F8F8F8; line-height:19px;}

.business_userinfo{clear:both;display:block;margin:0px auto; padding:10px 0px 5px 0px;}
.business_userinfo_left {float:left; width:503px; height:auto;}

.business_userinfo_title{float:left;background:url(../images/title_bg.jpg) no-repeat; width:126px; height:27px; font:13px arial; font-weight:bold; text-align:center; color:#fff;line-height:27px;}
.business_userinfo_title_sb{float:left;width:auto; height:27px;line-height:27px;  padding-left:10px;}

.business_userinfo_box{float:left;display:block;background:url(../images/zhxx_bg.jpg) no-repeat; width:473px; height:89px; color:#666; padding-left:30px; padding-top:10px; line-height:30px;border:1px solid #ccc;}
.business_userinfo_box span{font:16px arial; color:red; font-weight:bold;}
.business_userinfo_box b{font-weight:normal; color:#000;}



.business_userinfo_right{float:right; width:429px; height:auto;}
.business_money_title{float:left; display:block;width:429px; background:url(../images/money_box_title.jpg) no-repeat; height:29px; line-height:29px;}
.business_money_title span{float:left;width:128px; height:29px;font:13px arial; font-weight:bold; text-align:center; color:#fff; line-height:29px;}
.business_money_title a{float:left; overflow:hidden; width:65px; margin-left:15px; background:url(../images/dot_hei.jpg) no-repeat left 12px; line-height:29px; padding-left:10px;}
.business_money_box{float:left; display:block; margin:0px; padding:17px 0px 0px 44px;width:385px; height:83px; overflow:hidden;  color:#333; line-height:30px !important;line-height:29px; background:url(../images/money_box_bg.jpg) no-repeat;}
.business_money_box em{margin-left:20px; font:14px arial; color:red; font-weight:bold;}
.business_money_box b{ font:16px tohama; color:#000;}


.business_userinfo2{clear:both;width:951px;display:block;margin:0px auto;padding:10px 0px 0px 0px;}
.business_userinfo_box2{clear:both;float:left;width:946px; overflow:hidden;margin:0px auto; padding:1px 1px 20px 1px;border:1px solid #b4b4b4;}
.business_userinfo_box3{clear:both;float:left;width:946px; overflow:hidden;margin:0px auto; padding:1px 1px 1px 1px;border:1px solid #ccc; margin-bottom:5px;}


#admend_box {display:block; background: url(../images/business_admend_bg.jpg) repeat-x left bottom; height:28px; text-align:right; padding-right:10px; padding-top:1px;border:1px solid #C5F39A ; border-top:0px;}

/*#admend_box {display:block; background:url(../../images/huibg.png) repeat-x left top; height:28px; text-align:right; padding-right:10px; padding-top:4px; padding-bottom:4px;border:1px solid #F2FAE2  ; border-top:0px;}*/

#admend_box a,#admend_box a:active,#admend_box a:visited{float:right;cursor:pointer; width:108px;height:26px; font:12px arial; font-weight:bold;COLOR: #fff; TEXT-DECORATION: none; text-align:center;line-height:26px; background:url(../images/lv_bottons.gif) no-repeat; margin-right:8px; }
#admend_box a:hover{height:27px;line-height:27px;}

/*灰色背景按钮 #admend_box a,#admend_box a:active,#admend_box a:visited{float:right;cursor:pointer;background:url(../../images/botton_bggy.gif) no-repeat; width:92px; height:27px; font:12px arial; font-weight:bold; color:#000; text-align:center; text-decoration:none; line-height:27px;}
#admend_box a:hover{ line-height:28px;}*/




#search_box0417 {display:block;height:28px;overflow:hidden;  background: url(../images/business_admend_bg.jpg) repeat-x left bottom;  padding-left:35px; padding-top:6px;border-bottom:0px solid #ccc;border-top:0px;}
#search_box04172 {display:block;height:63px; line-height:29px; overflow:hidden;background: url(../images/business_admend_bg.jpg) repeat-x left bottom; padding-left:35px; padding-top:6px;border-bottom:0px solid #ccc; border-top:0px;}




.business_userinfo_admend_box {clear:both;display:block;margin:0px auto;padding:10px 0px; height:170px; margin-top:10px; font:12px arial; color:#333;}
.business_userinfo_admend_box_left{float:left; width:104px; overflow:hidden; padding-left:60px; text-align:center;}
.business_userinfo_admend_box_left img{display:block; width:102px; height:117px; border:1px solid #ccc; margin:0px auto;}
.business_userinfo_admend_box_left span{display:block; font:12px arial; color:#999;text-align:center; line-height:17px;padding-top:4px;}
.business_userinfo_admend_box_left em{color:red; font-style:normal;}
.business_userinfo_admend_box_right{float:right;width:700px;margin:0px; padding:0px 20px 0px 0px;}
.business_userinfo_admend_box_ul {display:block;width:700px; margin:0px; padding:0px;}
.business_userinfo_admend_box_ul li{clear:both;display:block; height:30px; line-height:30px; border:1px solid #E8F8C2; padding-left:20px; margin-bottom:2px;}
.business_userinfo_admend_box_ul li.listyle1{background:#F4FCE4;}
.business_userinfo_admend_box_ul li.listyle2{background:#FFF;}


.business_userinfo_admend_box_ul li span.gg0403{float:left; width:93px; height:30px; line-height:30px;}

.business_userinfo_admend_box_ul li span{float:left; width:93px; height:30px; text-align:right; line-height:30px; padding-right:10px;}
.business_userinfo_admend_box_ul li em{float:left; width:260px;  font-style:normal; line-height:30px; }
.business_userinfo_admend_box_ul li em input{float:left; width:186px; height:18px; font:14px arial; color:#000; line-height:18px; padding-left:10px; margin-top:2px;}
.business_userinfo_admend_box_ul li a{float:left;}


.jszh_left{float:left;width:434px; height:491px; background:url(../images/jszh_left_bg.jpg) no-repeat; padding-top:15px;margin-top:15px; margin-left:12px; }
.jszh_right{float:left; width:437px; margin-top:15px; margin-left:20px;}


.jszh_add_box{display:block; margin:0px auto; padding:0px; width:406px; height:auto; margin-top:10px;margin-bottom:25px;}
.h1_jszh{display:block;margin:0px auto;width:406px; height:22px;color:#666; line-height:22px;}

.title_jszh_green{display:block; height:31px; overflow:hidden; background:url(../images/jszh_green_title.jpg) no-repeat;}
.title_jszh_green span{font:13px arial; color:#333; line-height:35px; margin-left:29px; }
.title_jszh_green em{font:12px arial; color:#fff; font-style:normal; line-height:31px; margin-left:39px; }

.title_jszh_yellow{display:block; height:31px;overflow:hidden; background:url(../images/jszh_yellow_title.jpg) no-repeat;}
.title_jszh_yellow span{font:14px arial; color:#000; line-height:35px; margin-left:29px; }
.title_jszh_yellow em{font:12px arial; color:#fff; font-style:normal; line-height:35px; margin-left:35px; }



.jszh_add_box_wrap{float:left;display:block;width:383px; margin:0px auto; padding:15px 10px 45px 10px; background:#fff; border:1px solid #ccc; border-top:0px;}

.jszh_add_box_wrap h1{clear:both;display:block; margin:0px auto;font:12px arial; height:25px; font-weight:normal; font-style:normal; color:#333;line-height:25px; margin-top:4px;}
.jszh_add_box_wrap h1 span.gg0403{float:left; width:100px; height:25px; color:#333; text-align:left; padding-left:10px;  }
.jszh_add_box_wrap h1 em{float:left; width:259px; height:25px; text-align:left; }
.jszh_add_box_wrap h1 input.hhinput{width:224px; height:18px;font:14px arial; color:#000; font-weight:bold; line-height:18px; padding-left:5px;}
.gg0403tishi{clear:both;display:block;margin:0px auto;line-height:25px;padding-left:120px;}

#jszh_right_blog {clear:both; margin:0px auto; padding:0px; width:440px; overflow:hidden;}

#jszh_right_blog h1{display:block;width:410px;background:url(../images/dot2.png) no-repeat left 2px; height:28px; font:12px arial;  line-height:28px; padding-left:27px; margin-bottom:5px;}
#jszh_right_blog h1 span{font:14px arial;font-weight:bold; margin-left:10px; margin-right:10px;}

#jszh_right_blog h5{float:left; display:block;  width:410px; background:url(../images/dot2.jpg) no-repeat left 1px; height:28px; font:12px arial;  line-height:28px; padding-left:27px; margin-top:16px;margin-bottom:5px;}
#jszh_right_blog h5 span{font:14px arial;font-weight:bold; margin-left:70px; margin-right:10px;}


#jszh_right_blog .h22{display:block; width:437px;margin-top:6px;padding:5px 0px 5px 0px; border:1px solid #ccc;}
#jszh_right_blog h3{display:block; width:427px; height:22px; font:12px arial; line-height:22px; background:url(../images/line_bg2.jpg) repeat-x; text-align:right; padding-right:10px;}
#jszh_right_blog .moren{color:#FF9901;}
#jszh_right_blog h4 {display:block;width:412px;font:13px arial;line-height:30px; padding-left:25px; padding-top:3px; padding-bottom:3px;}
#jszh_right_blog h4 em{color:#000; margin-left:20px;}

.width889{width:889px;margin:0px auto; margin-top:10px;}
.marignauto{clear:both;width:850px;margin:0px auto;}
.displayblock{display:block; width:100%;height:45px; margin-top:5px; margin-left:120px;}

.business_userinfo_phone{clear:both;display:block;margin:0px auto; margin-top:10px; padding:10px 10px 10px 10px;}
.business_userinfo_phone p{ display:block;margin:0px auto;height:45px;color:#999;line-height:45px;padding-left:20px;}
.business_userinfo_phone b{color:#5BB401;}

.em1{font:11px araial;color:#666; font-weight:normal;}
.list3{border:0px;font:12px arial; font-weight:normal;}
.list3 span{font-weight:bold;}



.answer_box{width:351px; height:65px; background:url(../images/answerbox.gif) no-repeat;font:14px arial; line-height:27px; padding-left:110px; padding-top:12px; margin-left:85px; margin-top:20px; padding-bottom:12px;}

.answer_box2{width:351px; height:110px; background:url(../images/answerbox2.gif) no-repeat;font:14px arial; line-height:27px; padding-left:110px; padding-top:12px; margin-left:85px; margin-top:20px; padding-bottom:10px;}


.userinfomationbox {width:290px; padding-left:22px; padding-top:8px; padding-bottom:10px; line-height:23px;margin-top:20px; margin-right:10px;}

.pay_note{display:block; width:870px; margin:0px auto; padding:15px 10px 5px 20px;}


#page_details{clear:both;display:block; width:760px; margin:0px auto; padding:0px;}
#page_detail_contain fieldset{clear:both;display:block;margin:0px auto;  padding:10px 10px 30px 10px;font:14px arial; }
#page_detail_contain legend{color:#799D0D; font-weight:bold; padding:20px 10px;}
#page_detail_contain .note1{display:block;width:430px; margin:0px auto;font:14px arial; line-height:23px; padding-top:30px; padding-bottom:30px; background:#F4FCE4 url(../images/car.gif) no-repeat 20px 10px; padding-left:110px; margin-bottom:20px;}
#page_detail_contain label{clear:both;width:625px; display:block; margin:0px auto; padding-left:5px; height:auto; line-height:35px;}
#page_detail_contain label span{float:left;width:90px; color:#666;}
#page_detail_contain label em{float:left; width:auto; color:#000;}


#page_detail_contain2 fieldset{clear:both;display:block;margin:0px auto;  padding:10px 10px 30px 10px;font:14px arial; }
#page_detail_contain2 legend{font:16px arial;color:#000; font-weight:bold; padding:20px 10px 20px 40px;  background:url(../images/vmeet_icon_arrow_down.gif) no-repeat 8px 15px;}
#page_detail_contain2 label{clear:both;width:625px; display:block; margin:0px auto; height:35px; color:#666; line-height:35px;}
#page_detail_contain2 label span{font:16px arial;font-weight:bold;}
#page_detail_contain2 table{ width:625px; margin:0px auto;}





#titleandnote{display:block;margin:0px auto; padding:0px;}
#titleandnote h1{ display:block; height:34px; font:14px arial; font-weight:bold; color:#000;line-height:34px; background:url(../images/vmeet_icon_title.gif) no-repeat 10px 5px; padding-left:40px; }
#titleandnote h2{clear:both;display:block;padding-top:3px; font:12px arial; color:#666; line-height:21px; padding-left:30px;}
#titleandnote h2 span{display:block;width:102px; font:12px arial;font-weight:bold; color:#666; line-height:22px;margin-right:15px; background:url(../images/dot_hei.jpg) no-repeat 1px 9px; padding-left:10px;}
#titleandnote h2 em{ display:block;  font:12px arial; line-height:19px; padding-left:10px; }



#titleandnote2{clear:both;display:block; width:600px; margin:0px auto; padding:0px; margin-left:20px;}
#titleandnote2 fieldset{clear:both;display:block;margin:0px auto;  padding:10px 10px 10px 10px; border:1px solid #BFEB58; }
#titleandnote2 legend{height:34px; font:16px arial; font-weight:bold; color:#000;line-height:34px; background:url(../images/vmeet_icon_title.gif) no-repeat 10px 5px; padding-left:40px; padding-right:20px; }
#titleandnote2 label{clear:both;width:560px; display:block; margin:0px auto; padding:3px 0px; font:12px arial;line-height:21px;}
#titleandnote2 label span{float:left;  font:12px arial; width:65px; color:#666; padding-left:10px;}
#titleandnote2 label em{float:left;  font:12px arial; width:auto; color:#000;}


.tixianinput{line-height:24px; display:block; margin-top:10px; padding-left:30px; padding-top:5px; padding-bottom:5px;}
.tixianinput input{color:#000;font-weight:bold;}

.labelclass1{display:block;margin:0px auto; padding:0px; width:auto; height:50px; font:12px verdana;line-height:50px; margin-left:18px;}

.labelclass1 label{padding:3px 7px; vertical-align:middle;}




.feilu1{clear:both;display:block;overflow:hidden;margin:0px auto; width:819px;  padding:2px 10px 10px 5px;font:12px arial; border:0px; }
.feilu1 legend{font:14px arial;color:#000; font-weight:bold; padding:15px 10px 15px 40px;  background: url(../images/vmeet_icon_title.gif) no-repeat 8px 11px;}
.feilu1 label{clear:both;width:790px; display:block; margin:0px auto; height:auto;color:#333; line-height:26px; margin-bottom:2px; }
.feilu1 div.current{clear:both;width:640px; display:block; height:auto;color:#333; line-height:26px;background:#FFF8E1; border:1px solid #FFE793; margin-top:6px; padding-left:10px; margin-left:120px; }
.feilu1 div.current span{display:inline;font:12px arial;font-weight:bold; color:#333;padding:3px 10px;}

.feilu1 label span{display:inline;font:14px arial;color:#999;padding:3px 10px;}
.feilu1 label em{font:14px verdana;color:#666; margin-left:10px;}



.feilu2{clear:both;display:block;overflow:hidden;margin:0px auto; width:100%; height:auto; min-height:200px;padding:8px 0px 10px 0px;font:12px arial; border:0px; }
.feilu2 legend{display:block; font:14px arial;color:#666;padding-top:5px;margin-top:5px;}
.feilu2 .wenzi{display:block; font:14px arial;color:#666;padding-top:5px; padding-bottom:5px;padding-left:10px;}
.feilu2 .wenzi label{line-height:33px;}
.feilu2 .wenzi textarea{height:33px; width:614px; font:13px arial;}
.feilu2 .imgtu{float:left; margin:0px auto; width:100%;text-align:center;  padding-top:8px; padding-bottom:8px;}



.feilu3{clear:both;display:block;overflow:hidden;margin:0px auto; width:819px;  padding:2px 10px 10px 5px;font:13px arial; border:1px solid #E1E1E1;margin-top:5px;}
.feilu3 legend{font:14px arial;color:#6FBE16; font-weight:bold; padding:5px 10px 5px 10px;}
.feilu3 .wenzi{display:block; font:14px arial;line-height:22px;padding-left:20px; }
.feilu3 .wenzi em{color:#000; font-weight:bold;line-height:22px;margin-left:3px;}
.feilu3 .feiluem{float:left;display:block; font:14px arial; width:100%;line-height:22px;}
.feilu3 .feiluemdisable{float:left;display:block; font:14px arial; color:#aaa; width:100%;}
.feilu3 .feiluemdisable input{float:left;margin-right:5px;}
.feilu3 .feiluemdisable span.inline{float:left;display:table;width:120px; font:14px arial; line-height:22px;}
.feilu3 .feiluemdisable span.inline2{float:left;display:table;width:50px; font:14px arial; font-weight:bold; line-height:22px;}
.feilu3 .feiluem input{float:left;margin-right:5px;}
.feilu3 .feiluem label{float:left;width:400px; font:14px arial; color:#000; font-weight:bold; line-height:22px;}

.feilu3 .sengji{float:left;display:block; width:748px; margin:0px auto;color:#333; line-height:30px;background:#FFF8E1; border:1px solid #FFE793; padding-left:20px;margin-top:10px;margin-left:26px;}
.feilu3 .sengji span{font:13px arial;font-weight:bold; color:#333;}
.feilu3 .sengji input{margin-right:2px;margin-left:10px;}




.zddaima{float:left;width:100%;overflow:hidden;margin:0px auto;padding:0px; height:95px;  margin-top:2px; border-bottom:1px dotted #D8DAD6; }
.zddaima .num{float:left; width:70px; height:47px; padding-top:37px; background:url(../images/zdpic2.gif) no-repeat; font:28px arialblack; color:#fff; font-weight:bold; text-align:center;margin-left:30px; margin-top:5px;}
.zddaima .name{float:left; width:225px; font:13px arial; line-height:25px; padding-left:35px; padding-top:8px;}
.zddaima .name span{color:#000; font-weight:bold;}

.zddaima .zifu{float:left;width:420px; overflow:hidden; font:12px arial; color:#000; line-height:25px;padding-top:8px;}
.zddaima .zifu span{font:12px arial; color:#666;}
.zifuaaa{float:left;width:112px;padding-right:7px; padding-top:10px;}
.zifuaaa a{ height:18px; color:#006600; line-height:18px;margin-right:3px;}


.zddaima2{clear:both;display:block; overflow:hidden; margin:0px auto;padding:0px; height:95px;  margin-top:2px; background:url(../images/huibg.png) repeat-x left top; border:1px  solid  #f5f5f5;}
.zddaima2 .num{float:left; width:70px; height:47px; padding-top:37px; background:url(../images/zdpic2.gif) no-repeat; font:28px arialblack; color:#fff; font-weight:bold; text-align:center;margin-left:30px; margin-top:5px;}
.zddaima2 .name{float:left; width:225px; font:13px arial; line-height:25px; padding-left:35px; padding-top:8px;}
.zddaima2 .name span{color:#000; font-weight:bold;}

.zddaima2 .zifu{float:left; width:420px; overflow:hidden; font:12px arial; color:#000; line-height:25px;padding-top:8px;}
.zddaima2 .zifu span{font:12px arial; color:#666;}

.business_zfkwrap{clear:both;width:951px;display:block; overflow:hidden; margin:0px auto;padding:10px 0px 10px 0px;}


.box_zfkbusiness{display:block; width:422px; height:490px; overflow:hidden;background:#F8F9FB; border:1px solid #D5D5D5; padding:0px 20px 20px 20px;}
.box_zfkbusiness h1{display:block; height:40px; margin:0px auto; padding:0px; background:url(../images/sell_bar.png) no-repeat 1px 11px; font:12px arial; line-height:40px; padding-left:24px; margin-top:5px;}
.box_zfkbusiness h4{display:block; height:40px; margin:0px auto; padding:0px; background:url(../images/sell_bar.png) no-repeat 1px bottom; font:12px arial; line-height:40px; padding-left:24px; margin-top:5px;}

.box_zfkbusiness h5{display:block; background:url(../images/huibg.jpg) repeat-x left top;}
.box_zfkbusiness h5 span{display:block;  padding:25px 0px 25px 140px; background: url(../images/cpadd_pic2.jpg) no-repeat 60px 8px;}



.box_zfkbusiness h2{display:block; background:url(../images/huibg.jpg) no-repeat left top;}
.box_zfkbusiness h2 span{display:block;  padding:25px 0px 25px 140px; background: url(../images/cpadd_pic1.jpg) no-repeat 60px 8px;}
.box_zfkbusiness h3{display:block; background:#fff; border:1px solid #C8DEFF; height:348px; margin-top:12px;}

.radiobox1{float:left;width:177px; height:310px; margin-left:23px; margin-top:20px;}
.radiobox2{display:block;width:370px; height:310px; margin:0px auto; margin-top:20px;}



#menull{clear:both;display:block;height:33px; border-bottom:1px solid #C1DBFF;}

#menull a{float:left; width:137px; height:33px; background:url(../images/menull_off.jpg) no-repeat; font:14px arial; text-align:center;  line-height:36px;margin-left:6px;}
#menull a.current{float:left; width:137px; height:33px; background:url(../images/menull_on.jpg) no-repeat; font:14px arial; font-weight:bold; color:#004D80; text-align:center; text-decoration:none; line-height:33px;  margin-top:1px;}
#menull a.current3{float:left; width:137px; height:33px; background:url(../images/menull_on.jpg) no-repeat; font:14px arial; font-weight:bold; color:#333; text-align:center; text-decoration:none; line-height:33px;  margin-top:1px;}


#menull a.current2{float:left; width:253px; height:33px; background:url(../images/menull_on2.jpg) no-repeat; font:14px arial; font-weight:bold; color:#004D80; text-align:center; text-decoration:none; line-height:33px;  margin-top:1px;}
#menull a.current2 img{vertical-align:middle; margin-left:4px; margin-right:4px;}

#menull a.helpicon{float:left; width:90px; height:22px; background:url(../images/sell_bar.png) no-repeat 2px 2px; font:12px arial; color:#000; text-align:center; text-decoration:underline;  line-height:22px; padding-left:20px; margin-right:10px;}
#menull a.helpicon:hover{float:left; width:90px; height:22px; background:url(../images/sell_bar.png) no-repeat 2px 2px; font:12px arial; color:green; text-align:center; text-decoration:underline;  line-height:22px; padding-left:20px; margin-right:10px;}


/* 原来的定义 
#menull2{clear:both;display:block;height:26px; border-bottom:1px solid #4DA004;}

#menull2 a{float:left; width:128px; height:24px; background:url(../../images/business/tab_bg2.jpg) repeat-x left bottom; font:13px arial; text-align:center; color:#307701; text-decoration:none;line-height:24px; border:1px solid #4CA503; border-left:1px solid #fff; border-bottom:0px;}

#menull2 a:hover{float:left;background:url(../../images/business/tab_bg3.jpg) repeat-x left bottom; color:#307701;}

#menull2 a.current{float:left; width:118px; height:26px; overflow:hidden; background:#fff url(../../images/business/tab_bg1.jpg) no-repeat 13px 4px; font:13px arial;color:#000; font-weight:bold;line-height:27px; border:1px solid #4CA503;border-bottom:0px; padding-left:10px;}
*/

#menull2{clear:both;display:block; overflow:hidden;height:27px; border-bottom:1px solid #b4b4b4;margin-left:-1px;}

#menull2 a{float:left; background:url(../images/title_bg109.jpg) no-repeat; width:108px; height:27px; font:13px arial; text-align:center;font-weight:bold;text-decoration:none; line-height:27px;  }

#menull2 a:hover{float:left; color:#66C914; }
#menull2 a.current,#menull2 a.current:hover,#menull2 a.current:visited,#menull2 a.current:active{float:left;background:url(../images/title_bg1091.jpg) no-repeat; width:109px; height:29px; font:13px arial; font-weight:bold; text-align:center; color:#fff; text-decoration:none;line-height:29px; }

#menull2 span{float:right; color:#999; line-height:27px;}
#menull2 a.helpicon{float:left; width:auto; height:22px; background:url(../images/sell_bar.png) no-repeat 2px 2px; font:12px arial;text-decoration:underline;  line-height:22px; padding-left:22px; margin-right:10px; margin-left:10px;}


#menull3{clear:both;display:block;overflow:hidden;height:27px; border-bottom:1px solid #b4b4b4;}

#menull3 a{float:left; background:url(../images/title_bg4.jpg) no-repeat; width:127px; height:27px; font:13px arial; text-align:center;font-weight:bold;text-decoration:none; line-height:27px;  }

#menull3 a:hover{float:left; color:#66C914; }
#menull3 a.current,#menull3 a.current:hover,#menull3 a.current:visited,#menull3 a.active{float:left;background:url(../images/title_bg.jpg) no-repeat; width:127px; height:29px; font:13px arial; font-weight:bold; text-align:center; color:#fff; text-decoration:none;line-height:29px; }

#menull3 span{float:right; color:#999; line-height:28px;}
#menull3 a.helpicon{float:left; width:auto; height:22px; background:url(../images/sell_bar.png) no-repeat 2px 2px; font:12px arial;text-decoration:underline;  line-height:22px; padding-left:22px; margin-right:10px; margin-left:10px;}



#menull4 {display:block;width:142px; height:auto;padding-left:14px;padding-top:10px; padding-bottom:80px; background:url(../images/menubgbg.gif) repeat-y right top;}
#menull4 a,#menull4 a:hover,#menull4 a:visited,#menull4 a:active{display:block; width:142px;height:28px; background:url(../images/menubg2.gif) no-repeat; color:#006600; text-decoration:none;text-align:center; line-height:28px; margin-top:5px;}
#menull4 a.current,#menull4 a.current:hover,#menull4 a.current:visited,#menull4 a.current:actsive{display:block;width:142px; height:34px; background:url(../images/menubg1.gif) no-repeat; font-weight:bold;color:#000; text-align:center; line-height:34px;}


#menull6{clear:both;display:block;overflow:hidden;height:27px; border-bottom:1px solid #b4b4b4;margin-left:-1px;}

#menull6 a{float:left; background:url(../images/title_bg109_add.jpg) no-repeat; width:147px; height:27px; font:13px arial;font-weight:bold; text-align:center;text-decoration:none; line-height:27px;  }

#menull6 a:hover{float:left; color:#66C914; }
#menull6 a.current,#menull6 a.current:hover,#menull6 a.current:visited,#menull6 a.active{float:left;background:url(../images/title_bg1091_add.jpg) no-repeat; width:147px; height:29px; font:13px arial; font-weight:bold;  text-align:center; color:#fff; text-decoration:none;line-height:29px; }

#menull6 span{float:right; color:#999; line-height:28px;}
#menull6 a.helpicon{float:left; width:auto; height:22px; background:url(../images/sell_bar.png) no-repeat 2px 2px; font:12px arial;text-decoration:underline;  line-height:22px; padding-left:22px; margin-right:10px; margin-left:10px;}



.fenlei{clear:both;float:left;display:block;width:889px;height:auto; padding:20px 30px; border-top:0px;}
.fenlei h1{display:block; padding-left:10px; padding-top:10px; padding-bottom:10px; font:12px arial; vertical-align:middle;}
.fenlei h2{display:block; padding-left:10px; padding-top:5px; padding-bottom:10px; font:12px arial; vertical-align:middle;}


.fenlei2{clear:both;overflow:hidden;float:left;display:block;width:919px;height:auto; padding:10px 15px; border:1px solid #b4b4b4; border-top:0px;}

.fenlei3{float:left;overflow:hidden;display:block; width:947px;height:auto; padding:1px 1px; border:1px solid #b4b4b4; border-top:0px;padding-bottom:10px;}


/*.fenlei3{float:left;display:block; width:951px;height:auto; padding:1px 1px; border:1px solid #b4b4b4; border-top:0px;} */

.cats-list{width:100%;margin:0px auto;padding:0px;}
.cats-table{width:100%;border:1px solid #ccc;}
.cats-table th{background:#F2FBE1; height:26px; border-top:1px solid #fff; font-weight:normal; text-align:center; color:#999; line-height:26px;}
.cats-table td{text-align:center;padding:5px 3px; background:#fff; border-bottom:1px solid #EBEBEB; line-height:23px;}

.td-1{width:245px; overflow:hidden;}

a.moveupclick {display:block; margin:0px auto; width:21px; height:16px; margin-top:5px;}
a.moveupclick:hover{display:block; width:21px; height:16px; vertical-align:middle; background:url(../images/upbg.png) no-repeat;}
.moveupclick img{margin-top:1px; width:14px; height:14px;}

.J_Select {width:124px; vertical-align:middle; border:1px solid #909090;}
.J_CatName{width:195px; height:18px;font:13px arial;color:#000;font-weight:bold; line-height:18px;background:url(../images/greenbg3.jpg) repeat-x left top; border:1px solid #909090; }
.J_CatName2{width:172px; height:18px; font:13px arial;color:#000;font-weight:bold; line-height:18px;background:url(../images/greenbg3.jpg) repeat-x left top; border:1px solid #909090;}
.J_CatName3{width:140px; _width:145px; *width:145px;  height:18px;font:13px arial;color:#000;font-weight:bold;  line-height:18px;background:url(../images/greenbg3.jpg) repeat-x left top; border:1px solid #909090; }
.J_CatName4{width:300px; height:18px; font:14px verdana; color:#000;vertical-align:middle;line-height:18px; padding-left:5px; background:url(../images/greenbg3.jpg) repeat-x left top;border:1px solid #909090;}
.J_CatName6{width:150px; height:18px; font:14px verdana; color:#000;vertical-align:middle;line-height:18px; padding-left:5px;background:url(../images/greenbg3.jpg) repeat-x left top; border:1px solid #909090; }
.J_CatName5{width:240px; height:45px; line-height:18px; color:#000;background:url(../images/greenbg3.jpg) repeat-x left top; border:1px solid #909090;}
.J_CatNames{width:120px; height:18px;font:13px arial;color:#000;font-weight:bold; line-height:18px;background:url(../images/greenbg3.jpg) repeat-x left top;border:1px solid #909090; }


.kaminote{display:block;width:150px; height:220px; background:url(../images/kamibox.png) no-repeat; line-height:19px; padding-left:24px; padding-right:11px; padding-top:5px;}
.kaminote p{margin:0px auto; padding:0px;margin-top:4px; color:#666;}
.kaminote span{margin:0px auto; padding:0px;margin-top:4px; font:12px arial; color:red; line-height:18px;}


.cats-table2{width:100%;border:1px solid #F0FADF; border-left:0px;}
.cats-table2 th{ background:#F4FCE9;border-bottom:1px solid #F0FADF; border-left:1px solid #F0FADF;border-right:1px solid #F0FADF;text-align:center;  font-weight:normal; color:#333; line-height:34px;}
.cats-table2 td{padding:0px 4px;border-bottom:1px solid #F0FADF; line-height:34px; padding-left:30px;}




#answerbox_bg{display:block; margin:0px auto; padding:0px; width:616px; height:265px; background:url(../images/box_bg1.jpg) no-repeat; margin-top:30px;}
		
		#answerbox_bg h1{float:left;display:block;width:616px; margin:0px auto; height:32px; line-height:32px;background:url(../images/apijk.jpg) no-repeat 450px top; margin-top:17px;}
		
		
		#answerbox_bg h2{display:block; margin:0px auto; width:450px; height:93px; font:14px arial; font-weight:normal; font-style:normal;color:#333; line-height:32px; background:url(../images/phone_yz_pic.jpg) no-repeat left top; border-bottom:1px solid #ccc;padding-left:102px;padding-top:10px; }
		#answerbox_bg h3{clear:both;display:block; margin:0px auto; width:450px; height:28px; font:14px arial;font-style:normal;color:#333; line-height:28px;padding-left:102px;padding-top:15px;}
		#answerbox_bg h3 span{float:left;height:28px;font-weight:bold;line-height:28px;}
		#answerbox_bg h3 .inputstyle1{float:left;background:url(../images/input_style_bg.jpg) no-repeat; border:0px; width:146px;height:28px; font:16px arial; color:#499001; font-weight:bold; line-height:25px; padding-left:10px;}		
		#answerbox_bg h4{display:block;margin:0px auto;width:450px; height:35px; font:12px arial;font-weight:normal; font-style:normal;color:red;line-height:35px;padding-left:102px;}
		
		#answerbox_bg h5{float:left;display:block; margin:0px auto; height:32px; line-height:32px;background:url(../images/email_rz_title.jpg) no-repeat 483px top; margin-top:17px;}
		
		
		#answerbox_bg h6{float:left;display:block; margin:0px auto; width:440px; height:100px; font:14px arial; font-weight:normal; font-style:normal;color:#333; line-height:32px; background:url(../images/04.png) no-repeat left top; border-bottom:1px solid #ccc;padding-left:122px;padding-top:14px; margin-left:24px; }
		
		
#pzzl_titlebg { clear:both;display:block; background: url(../images/pzzl_bg.jpg) repeat-x; height:36px; line-height:36px;}
#pzzl_titlebg span{width:auto; height:36px; color:#000; font-weight:bold;line-height:36px; padding-left:20px; }
#pzzl_titlebg a{float:right;width:90px;height:21px; margin-top:6px;margin-right:10px; padding:0px 12px; color:#000;text-decoration:none; text-align:center; line-height:21px; background:url(../images/botton_bg.jpg) repeat-x; border:1px solid #AECADF;}
#pzzl_titlebg a:hover{float:right;width:90px;height:21px;margin-top:6px; margin-right:10px; padding:0px 12px; color:green; text-decoration:none; text-align:center; line-height:21px; background:url(../images/botton_bg.jpg) repeat-x; border:1px solid #AECADF;}

.business_pzzl_content{float:left;display:block; width:93%; margin:0px auto; padding:0px; background:url(../images/huibg.jpg) repeat-x; padding-top:20px; padding-bottom:20px; padding-left:7%; font:12px verdana; color:#666; line-height:19px; }

.business_pzzl_content .itemtu{ display:block; padding:6px; width:54px; height:54px; background:url(../images/ffbox.png) no-repeat;text-align:center;vertical-align:middle;}
.business_pzzl_content .itemtu img{height:54px;}

.business_pzzl_content_text{display:block;margin:0px; padding:0px; width:730px;}
.business_pzzl_content_text p{float:left; width:100%;display:block;margin:0px;padding:0px;color:#999;line-height:16px; margin-top:4px; padding-bottom:0px;}
.business_pzzl_content_text span{float:left;width:330px; font:12px verdana; color:#333; line-height:16px;padding-left:9px;}
.business_pzzl_content_text strong{display:block;color:#5AB003; font-weight:normal; line-height:19px;}
.business_pzzl_content_text b{font:12px verdana; font-weight:normal;color:#000; margin-left:4px;}


.cats-table3{width:100%;}
.cats-table3 th{background:#eee; height:19px; border-top:1px solid #fff; font-weight:normal;color:#004D80; line-height:18px;}
.cats-table3 td{background:#fff; border-bottom:1px solid #EBEBEB; line-height:18px;}

.zifu_tu_link{display:block; overflow:hidden;width:765px;margin:0px auto; padding-top:15px; font:12px arial;padding-left:5px; }
.zifu_tu_link a.current{float:left;margin-right:4px; width:145px; height:24px; text-align:center; font-weight:bold; line-height:21px; background:#EBF9C8;border:1px solid #64B10B;}
.zifu_tu_link a{float:left;margin-right:4px; width:145px; height:24px;color:#333; text-align:center;text-decoration:none; line-height:21px;background:#fff;border:1px solid #ccc;}

.menulll{display:block;font:13px arial; font-weight:bold; vertical-align:middle;padding-top:10px; padding-bottom:5px;padding-left:2px; }

.menulll input{vertical-align:middle;}

#titleandnote4{display:block;margin:0px auto; padding:0px;}
#titleandnote4 h1{ display:block; height:34px; font:14px arial; font-weight:bold; color:#000;line-height:34px; background:url(../images/vmeet_icon_title.gif) no-repeat 10px 5px; padding-left:40px; }
#titleandnote4 h2{clear:both;display:block;padding-top:3px; font:12px arial; color:#666; line-height:21px; padding-left:30px;}
#titleandnote4 h2 span{display:block;font:12px arial; color:#666; line-height:22px;margin-right:15px; background:url(../images/dot_hei.jpg) no-repeat 1px 9px; padding-left:15px;}
#titleandnote4 h2 em{ display:block;  font:12px arial; line-height:19px; padding-left:10px; }

#feilumenu0518{clear:both;display:block;width:850px;margin:0px auto; padding:0px;padding-top:10px;}
#feilumenu0518 a{float:left; width:127px; height:31px; font:12px arial; text-align:center; line-height:26px;background:url(../images/zhifu_titlebg.gif) no-repeat;margin-left:23px;margin-right:20px; }
#feilumenu0518 a,.feilumenu0518 a:hover,.feilumenu0518 a:active,.feilumenu0518 a:visited{text-decoration:none;}
#feilumenu0518 a.current{font:13px arial;font-weight:bold;color:#fff;background:url(../images/zhifu_titlebg2.gif) no-repeat; line-height:26px;}


.plfk_fk{display:block; margin:0px auto;width:813px;padding-top:10px;padding-bottom:30px;}
.plfk_fk01{float:left; width:195px; height:72px; background:url(../images/huibg5.jpg) repeat-x; border:2px solid #ACE930; padding:17px 21px;}
.plfk_fk011{display:block; background:url(../images/plfk_dot_r3_c1.jpg) no-repeat 10px top; padding-left:40px; font:14px arial; font-weight:bold; line-height:24px;padding-bottom:6px;}
.plfk_fk012{display:block; background:url(../images/plfk_dot_r2_c6.jpg) no-repeat 10px top; padding-left:40px; font:14px arial; font-weight:bold; line-height:24px;padding-bottom:6px;}
.plfk_fk013{display:block; background:url(../images/plfk_dot_r1_c8.jpg) no-repeat 10px top; padding-left:40px; font:14px arial; font-weight:bold; line-height:24px;padding-bottom:6px;}

.plfk_fkfg{float:left; width:30px; height:106px; background:url(../images/plfk_dotlian.gif) no-repeat center 40px;}

.asknote1{display:inline; line-height:20px; background:url(../images/ask_dot2.png) no-repeat; padding-left:20px; margin-left:20px;}
.asknote1:link,.asknote1:active,.asknote1:visited{color:#6CB82F;}


.plfk_fh{clear:both; display:block; margin:0px auto; padding:20px; width:878px; height:auto; }
.plfk_fhtitle{display:block;height:25px; overflow:hidden;}
.plfk_fhtitle span{float:left;font:18px 黑体; color:#000;line-height:25px; background:url(../images/vmeet_icon_title.gif) no-repeat;padding-left:30px;}
.plfk_fhtitle a{line-height:25px; text-decoration:none;}
.plfk_fhcontent{ display:block; border:0px solid #f5f5f5; padding:15px 15px; font:14px arial;}
.plfk_fhcontent h1{clear:both;display:block; margin:0px; padding:0px;font:13px arial; font-family:normal; color:#999;  line-height:28px; height:30px;}
.plfk_fhcontent h1 span{float:left; width:135px; font:13px arial; font-family:normal; color:#333;text-align:right;padding-right:5px;line-height:28px;}
.plfk_fhcontent h2{clear:both;display:block; margin:0px; padding:0px;font:13px arial; font-family:normal; font-weight:bold;color:#000;  line-height:28px; height:28px;margin-top:5px;}




.xinyongform{ display:block; width:888px;   padding:10px 0px; margin:0px auto;}
.xinyongform ul{clear:both;margin:0px auto; padding:0px; padding-left:50px;}
.xinyongform li{display:block;height:30px; font:12px arial; color:#999;  line-height:30px;}
.xinyongform li label{float:left; width:140px;color:#000; font:13px arial; text-align:right;line-height:30px; padding-right:8px;}
.xinyongform li input.longput{width:200px; height:17px; font:14px arial; color:#000; border:1px solid #4BB834;}

.shenfenzhen_upload{clear:both;display:block;margin:0px auto; padding:0px; margin-top:16px;}
.title0730{display:block; width:100%; background: url(../images/bg07302.jpg) repeat-x; border:1px solid #DFDFDF; height:26px; color:#333; line-height:26px; margin-top:5px; }
.title0730 span{float:left; width:169px; background:url(../images/bg0730.jpg) repeat-x; border-right:1px solid #DFDFDF;text-align:center; font:13px arial; font-weight:bold; color:#000; line-height:26px; height:26px; overflow:hidden; margin-right:20px;}
.content0730{clear:both;display:block; width:100%; margin:0px auto; padding:0px; padding-top:10px;padding-bottom:15px;}

.address_zhu{display:block;margin:0px auto; padding:0px;}
.address_zhu li{height:22px; line-height:22px; padding-left:20px;}
.address_zhu li:hover{ background:#D0D0D0;}
.address_zhu li.current{ background:#D0D0D0 url(../images/white-dot.gif) no-repeat 6px 6px;}


A.address_link,A.address_link:visited,A.address_link:active {
	float:left; COLOR: #000; TEXT-DECORATION: none; background:url(../images/dot_ren.gif) no-repeat 1px 4px; padding-left:22px;
}
A.address_link:hover {
	TEXT-DECORATION: underline;
}

.title_address{float:left;}

.address_list{margin:0px auto;padding:0px;border:0px;}
.address_list td{height:23px;line-height:23px;}
.address_list a{color:#000;}
.address_list a:hover{color:#009900;}

/*2009-10-14*/
#titleandnote0811{clear:both;display:block; width:670px; margin:0px auto; padding:0px; margin-left:30px;}
#titleandnote0811 fieldset{clear:both;display:block;margin:0px auto;  padding:10px 0px 20px 0px; border:0px solid #BFEB58; border-bottom:1px solid #ccc;  }
#titleandnote0811 legend{height:34px; font:16px arial; font-weight:bold; color:#000;line-height:34px; background:url(../images/vmeet_icon_title.gif) no-repeat 0px 5px; padding-left:36px; padding-right:20px; }
#titleandnote0811 label{clear:both;display:block; margin:0px auto; padding:3px 0px; font:12px arial;line-height:21px;padding-left:36px;}
#titleandnote0811 label span{float:left;  font:12px arial; width:65px; color:#666; padding-left:10px;}
#titleandnote0811 label em{float:left;  font:12px arial; width:auto; color:#000;}

.xixian0811{clear:both;display:block; width:662px; margin:0px auto; padding:0px; margin-left:30px; border-top:4px solid #F0F0F0; margin-top:1px;padding-top:14px;padding-left:8px;}

.xixian0811form{float:left; width:299px; margin:0px;padding:0px;}
.xixian0811form h1{margin:0px auto; padding:0px;display:block; height:28px; font:13px arial;color:#333;text-align:center; line-height:26px; border-bottom:1px solid #F3C774; position: relative;}
.xixian0811form h1 span{position: absolute; top:1px; left:0px;height:26px;font-weight:bold; line-height:26px; border:1px solid #F3C774; border-bottom:1px solid #FFF5E5;padding-left:15px;padding-right:15px; background:#FFF5E5; }
.xixian0811form h2{margin:0px auto; padding:6px 10px 10px 30px;display:block; font:13px arial;color:#000; line-height:22px; border:1px solid #F3C774; border-top:0px; background:#FFF5E5;}

.xixian0811right{float:left; margin-left:20px;padding-left:60px; background:url(../images/arrow_0811.jpg) no-repeat 0px 50px;}
.xixian0811right .title{font-weight:bold;color:#006600; line-height:28px;}
.xixian0811right .content{line-height:19px;}
.xixian0811right .content span.lili{display:block;padding-top:3px; padding-bottom:5px;}


.myOrderTable{width:100%; text-align:center; margin-top:10px; margin-bottom:10px; line-height:25px;}
.myOrderTable table{border:1px #666666 solid;}
.myOrderTable table td{border:1px #D4D0C8 solid; line-height:25px; text-align:justify;}