/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0px; margin: 0px;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px arial;
	color: #fff;
	margin:0px; padding:0px;
}

#TB_secondLine {
	font:12px arial; color:#fff; font-weight:bold;
}

#TB_closeWindow a{float:right; width:31px; height:21px;color:#fff; background:url(../images/close1.jpg) no-repeat; }

#TB_closeWindow a:hover {float:right; width:31px; height:21px;color:#fff;  background:url(../images/close2.jpg) no-repeat;}


#TB_closeAjaxWindow a{float:right; width:31px; height:21px;color:#fff; background:url(../images/close1.jpg) no-repeat;}

#TB_closeAjaxWindow a:hover {float:right; width:31px; height:21px;color:#fff;  background:url(../images/close2.jpg) no-repeat;}


/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#666;
	filter:alpha(opacity=60);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 1px solid #2D7218;
	text-align:left;
	left:50% ;
    top:50%;
	
}

*html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 0px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{		
	font:12px arial; color:#fff; font-weight:bold;  
	float:left;
}

#TB_closeWindow{
	height:21px;
	overflow:hidden;
	padding:0px 5px 0px 0;
	line-height:21px;
	float:right;
}

#TB_closeAjaxWindow
{
    height:21px;
    overflow:hidden;
	padding:0px 5px 0px 0;	
	text-align:right;
	line-height:21px;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	height:26px;
	padding:0px 0px 0px 20px;
	margin-bottom:0px;
	color:#fff;
	font-weight:bold;
	line-height:26px;
}

#TB_title{
	background:url(../images/dh_bg.jpg) repeat-x;
	overflow:hidden;
	height:26px;
	border-bottom:1px solid #2D7218;
	line-height:26px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
	display:block; 
	background: url(../images/content_bg.jpg) repeat-x left top;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
	background: url(../images/content_bg.jpg) repeat-x left top;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	display:block; background: url(../images/content_bg.jpg) repeat-x left top;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
