body				{margin:0px; font-size:12px; background-image:url(../images/bg_login.png); background-position:bottom; background-repeat:repeat-x; background-color:#A2D5F0;}
td, div				{font-size:12px;}		
#login				{color:white; background-image:url(../images/bg_login.png); background-position:bottom; background-repeat:repeat-x; background-color:#A2D5F0;}
#login #root		{background-image:url(../images/login_root.png);}
#login #main		{background-image:url(../images/login_main_year.jpg);}
#login * td			{color:white;}
#login a			{color:white; text-decoration:none;}
#login .textbox		{width:180px}
#login .codebox		{width:40px}