﻿.STYLE4 {color: #666666}
.STYLE1 {color: #FF3300 ;font-size: 12px}
a { text-decoration:none;color:#333;}
a:hover { text-decoration:underline;color:red;}
body {padding:0;margin:0;font-family:Verdana, Arial, "宋体";font-size:12px;color:#333;}
form {padding:0;margin:0;}

				.intotable { border-collapse:collapse;border:1px solid #c4eeff; margin:0 auto;}
				.intotable td {border-bottom:1px solid #c4eeff; border-right:1px solid #c4eeff;padding-left:5px;}
				.intotable2 { border-collapse:collapse;border:0px solid #c4eeff; margin:0 auto;margin:5px auto;}
				.intotable2 td {border-bottom:0px solid #c4eeff; border-right:0px solid #c4eeff;}

.STYLE3 {font-size: 12px}

