﻿/* 公有元素定义 */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	BACKGROUND: #fff;
	MARGIN: 0px;PADDING: 0px;   
	BORDER: 0px;
	FONT-SIZE: 12px; 
	COLOR: #434343; 
	line-height:18px;
	TEXT-ALIGN: center;}
td {
	font-size:12px;
	line-height:18px;
	vertical-align:top;
	}
tr{font-size:12px; color: #333}

div {
	TEXT-ALIGN: left
}

img, div, input { behavior: url("inc/iepngfix.htc") }

h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,em,span{margin:0px; padding:0px; font-style:normal; font-weight:normal;}

.float_left{float:left;}
.float_right{float:right;}
.clearboth{clear:both; display:block;}
.width951{width:951px; overflow:hidden;}
.width770{width:770px;overflow:hidden;}
.width620{width:620px;}
.widthhalf{width:541px;}
.width300{width:300px;}
.width295{width:294px;height:18px; line-height:16px;}
.width200{width:200px;}
.width100{width:100px;}
.width150{width:150px;}
.margintop5 {margin-top:5px;}
.margintop7 {margin-top:7px;}
.margintop10 {margin-top:10px;}
.margintop20 {margin-top:20px;}
.margintop40 {margin-top:40px;}
.marginleft10{margin-left:10px;}
.marginleft20{margin-left:20px;}
.marginleft30{margin-left:30px;}
.marginleft40{margin-left:40px;}
.marginleft50{margin-left:50px;}
.marginleft60{margin-left:60px;}
.marginleft70{margin-left:70px;}
.marginleft80{margin-left:114px;}
.paddingtop10 {padding-top:10px;}
.paddingtop5 {padding-top:5px;}


.paddingleft10{padding-left:10px;}
.paddingleft20{padding-left:20px;}
.paddingleft30{padding-left:30px;}
.paddingleft50{padding-left:50px;}
.paddingleft100{padding-left:100px;}
.paddingleft110{padding-left:110px;}
.paddingleft130{padding-left:130px;}
.marginbottom20{margin-bottom:20px;}

.paddingright5{padding-right:5px;}

.displayblock{display:block;}

.textmiddle{text-align:center;}

.greenbg{background:#F4FCE4; border:1px solid #E8F8C2;}
.greenbg2{background:#A1D011; border:1px solid #fff;}
.greenbg3{background:#DCEEA4; border:1px solid #C4E267;}

.huibg2{background:#F7F7F7; }


.yebg{background:#FFF2BF; border:1px solid #FFD89D;}

.huibg{background:#F7F7F7; border:1px solid #BCDD95;}
.huibgjb{background: url(../images/huibg3.jpg) repeat-x left top; border:1px solid #E6E6E6;}
.bluebg{background:#F1FFD9;}
.yellowbg{background:#F2F5FB;}
.bluebg21{background:#F2FBE1;border:1px solid #B8DB8F;}
.bluebg22{border:1px solid #b4b4b4;}
.bluebg23{background:#fff;border:1px solid #C1DBFF;}
.height50px{height:50px; line-height:50px;}
.height300px{height:300px;}
.height35px{height:35px; line-height:35px;}
.height40px{height:24px; line-height:24px;}
.height40 {padding-top:13px !important;padding-top:3px; height:30px;}

.ad_banner{display:block;margin:0px auto;margin-top:5px;margin-bottom:5px;}

.height55{height:50px; line-height:50px; event:expression( onmouseover = function() { this.className='yebg'; }, onmouseout = function() { this.className='';  } )}

img{border:0px;}

a {TEXT-DECORATION:none}
a:link, a:visited, a:active {color:#006600;TEXT-DECORATION: underline;}
a:hover {color:#66C914; TEXT-DECORATION: none}
form { margin:0px; padding:0px; border:0px;}
input { font-family: MS Shell Dlg, 宋体, Arial; font-size:12px; color:#656565;}
ul{margin:0px;padding:0px; LIST-STYLE-TYPE: none}

input.font14input{font:14px arial;color:#000;}


#tablestyle1 {display:block; width:95%; margin:0px auto; padding:0px; margin-top:5px; margin-bottom:20px;}
#tablestyle1 .tableculm1{width:100%;}
#tablestyle1 .tableculm1 th{height:24px; line-height:24px;color:#C3C3C3; text-align:center;}
#tablestyle1 .styletd{color:#000; vertical-align:middle; }

#tablestyle2 {display:block; width:100%; margin:0px auto; padding:0px; margin-top:4px; margin-bottom:20px;}
#tablestyle2 table{width:100%; border-left:1px solid #50B800; border-bottom:0px solid #50B800;}
#tablestyle2 th{height:22px; line-height:22px;border-top:1px solid #50B800; border-left:1px solid #fff;border-right:1px solid #50B800; border-bottom:1px solid #50B800; color:#fff; text-align:center; background:url(../images/greenbg.jpg) repeat-x; }
#tablestyle2 td{line-height:18px;border-top:1px solid #fff; border-left:1px solid #fff;border-right:1px solid #50B800; border-bottom:1px solid #50B800; color:#333; vertical-align:middle;}

#tablestyle3 {display:block; width:100%; margin:0px auto; padding:0px; margin-top:9px; margin-bottom:20px;}
#tablestyle3 table{width:100%; border-left:1px solid #D1D1D1; border-bottom:0px solid #D1D1D1;}
#tablestyle3 th{height:22px; line-height:22px;border-top:1px solid #D1D1D1; border-left:1px solid #fff;border-right:1px solid #D1D1D1; border-bottom:1px solid #D1D1D1; color:#999; text-align:center; background:#EEEEEE; }
#tablestyle3 td{line-height:18px;border-top:1px solid #fff; border-left:1px solid #fff;border-right:1px solid #D1D1D1; border-bottom:1px solid #D1D1D1; color:#333; vertical-align:middle;}


#tablestyle5 {display:block; width:95%; margin:0px auto; padding:0px; margin-top:20px; margin-bottom:20px;}
#tablestyle5 table{width:100%; border-left:1px solid #CCCCFF; border-bottom:1px solid #CCCCFF;}
#tablestyle5 th{height:24px; line-height:24px;border-top:1px solid #CCCCFF; border-left:1px solid #fff;border-right:1px solid #CCCCFF; border-bottom:1px solid #fff; color:#C3C3C3; text-align:center; }
#tablestyle5 td{border-top:1px solid #CCCCFF; border-left:1px solid #fff;border-right:1px solid #CCCCFF; border-bottom:1px solid #fff; color:#000; vertical-align:middle; }




#tuzihe{clear:both;display:block; padding:2px 0px;}
#tuzihe img{float:left;height:30px; width:48px; border:1px solid #ccc;}
#tuzihe span{ float:left;width:auto; height:30px; line-height:30px;padding-left:13px; }



#search_box{display:block;background:url(../images/search_bg.jpg) no-repeat 7px 30px;font:12px arial;color:#333; }
#search_box .title{display:block;height:22px; border-bottom:1px solid #ccc;font-weight:bold; line-height:22px; padding-left:5px;}
#search_box .content{display:block; padding-top:10px;padding-left:100px;  line-height:27px; height:auto;}
#search_box .content p{display:block;margin:0px;padding:0px;height:27px;}
#search_box .content p select{float:left;margin-left:5px;}
#search_box .content p input{float:left;margin-left:5px;}
#search_box .content .gg0403even{float:left;width:110px; text-align:right;padding:0px;padding-right:0px;}

#search_box .gg0403even2{float:left;width:310px;padding:0px;padding-right:0px; }
#search_box .gg0403even2 input{width:125px;margin-right:4px;}
#search_box .gg0403even2 img{float:left;vertical-align:middle;}
.input_middle{float:left;}


.local_address{display:block; height:22px;  line-height:22px; padding-left:10px;}

#whitea{color:#fff;}
#whitea a{color:#fff;}


#greena{color:#307407;}
#greena a{color:#307407;}




DIV.scott {
	PADDING: 3px; MARGIN: 3px;TEXT-ALIGN:right;
}
DIV.scott A {
	BORDER-RIGHT: #ddd 1px solid; PADDING: 2px 5px; BORDER: #ddd 1px solid; COLOR: #666; TEXT-DECORATION: none;MARGIN-RIGHT: 2px; 
}
DIV.scott A:hover {
	BORDER: #85bd1e 1px solid; COLOR:red;
}
DIV.scott SPAN.current {
	BORDER: #b2e05d 1px solid; PADDING: 2px 5px; FONT-WEIGHT: bold;COLOR:#666; MARGIN-RIGHT: 2px; BACKGROUND: #DEF1A5;
}
DIV.scott SPAN.disabled {
	BORDER: #ddd 1px solid; PADDING: 2px 5px;COLOR: #ccc; MARGIN-RIGHT: 2px; 
}

.disabled{color:#ccc;border:1px solid #cccc;}
.disabled option{color:#ccc;}


.underline{float:left; margin:0px auto; padding:4px 4px 6px 4px;border-bottom:1px #434051 dotted;}

A.white:link, A.white:visited {
	COLOR: #fff; TEXT-DECORATION: none; margin-left:10px;
}
 
A.white:hover{
	TEXT-DECORATION: underline;
}

A.hui1:link, A.hui1:visited {
	COLOR: #505050; TEXT-DECORATION: none; font-weight:normal;
}
 
A.hui1:hover{
	color:#707070;TEXT-DECORATION: underline;font-weight:normal
}

A.hui2,A.hui2:visited,A.hui2:active{
	COLOR: #666; TEXT-DECORATION: underline; font-weight:normal;
}
 
A.hui2:hover{
	color:#4F9E04;TEXT-DECORATION:none ;font-weight:normal
}

A.bigtitle:link, A.bigtitle:visited {
	COLOR: #000; TEXT-DECORATION: none; font-weight:bold;  font-size:14px; margin-bottom:4px;
}
 
A.bigtitle:hover{
	color:#D5252F;TEXT-DECORATION: underline;font-weight:bold;font-size:14px; margin-bottom:4px;
}

A.bigtitle2:link, A.bigtitle2:visited {
	COLOR: #D52126; TEXT-DECORATION: none; font-weight:bold;  font-size:14px; margin-bottom:4px;
}
 
A.bigtitle2:hover{
	color:#D5252F;TEXT-DECORATION: underline;font-weight:bold;font-size:14px; margin-bottom:4px;
}


A.bigtitle3:link, A.bigtitle3:visited {
	COLOR: #555555; TEXT-DECORATION: none; font-weight:bold;  font-size:14px; margin-bottom:4px;
}
 
A.bigtitle3:hover{
	color:#D5252F;TEXT-DECORATION: underline;font-weight:bold;font-size:14px; margin-bottom:4px;
}




A.a1{
	COLOR: #4F9E04; TEXT-DECORATION: none; font-weight:bold; 
}
 
A.a1:hover{
	TEXT-DECORATION: underline;font-weight:bold;
}

A.a2:link, A.a2:visited {
	COLOR: #7BA0E6; TEXT-DECORATION: none; font-weight:normal;
}
 
A.a2:hover{
	TEXT-DECORATION: underline;font-weight:normal
}



A.black{
	COLOR: #666; TEXT-DECORATION: none;font-weight:bold;
}
 
A.black:hover{
	color:red;TEXT-DECORATION: underline;
}


A.red:link, A.red:visited {
	COLOR: red; TEXT-DECORATION: underline;
}
 
A.red:hover{
	COLOR: blue; TEXT-DECORATION: underline;
}

.red2 a{
	COLOR: #FF0000; 
}

a.font12a{ display:inline;font:12px arial; color:#999; text-decoration:none; border:1px solid #ccc; background:url(../images/dotxia.gif) no-repeat 8px 5px; padding-left:15px; padding-right:10px; padding-top:2px; padding-bottom:2px; margin-left:10px; }
a.font12a:hover{ display:inline;font:12px arial; color:green; text-decoration:none;  border:1px solid #ccc; background:url(../images/dotxia.gif) no-repeat 8px 5px; padding-left:15px; padding-right:10px; padding-top:2px; padding-bottom:2px; margin-left:10px; }

.24font { font-size:23px; font-family: Arial; line-height:30px;}
.20font { font-size:20px; font-family: Arial;}
.18font { font-size:18px; font-family: Arial;}
.16font { font-size:16px; font-family: Arial;line-height:28px;}
.14font { font-size:14px; font-family: Arial;}
.12font { font:12px arial;}
.11font { font-size:11px; font-family: Arial;}
.10font { font-size:10px; font-family: Arial;}
.10ptfont {font:10pt Arial;}
.9ptfont {font:9pt Arial;}

.bold { font-weight:bold;}

.red {
	COLOR: red
}
.hui1{font:12px arial;color:#666; line-height:17px; margin-bottom:4px; margin-top:0px;}
.ye {
	COLOR: #000
}
.gre {
	COLOR: green
}
.blue {
	COLOR: #3366CC
}
.hui{color:#999;}
.hui3{font:12px arial;color:#999;}
.hui2{color:#D8D8D8;}

A.more,A.more:visited,A.more:active{
	 float:right; margin:0px auto; padding:0px; width:65px;height:20px; font:12px arial;COLOR: #44950A; TEXT-DECORATION: none; text-align:center;line-height:20px; background:url(../images/morebg.jpg) no-repeat;  margin-top:3px;
}
 
A.more:hover{
	COLOR: red; 
}


A.more2:link, A.more2:visited {
	COLOR: #fff; TEXT-DECORATION: none; font:11px arial;
}
 
A.more2:hover{
	TEXT-DECORATION: underline;font:11px arial;
}


A.page:link, A.page:visited {
	font-size:12px; width:17px; line-height:17px; text-decoration:none; border:1px solid #DADAE2; padding:2px; color:#05179F;
}

A.page:hover,A.page:active {
	font-size:12px; width:17px; line-height:17px; text-decoration:none; border:1px solid #DADAE2; padding:2px; color:#fff; background:#B6BCC8;
}

A.pagecurrent{
	font-size:12px; width:17px; line-height:17px; text-decoration:none; border:1px solid #DADAE2; padding:2px; color:#fff; background:#B6BCC8;
}
 


A.m1:link, A.m1:visited {
	font-size:16px; font-weight:bold;line-height:27px; text-decoration:none;
}
 
A.m1:hover,A.m1:active {
	font-size:16px; font-weight:bold;line-height:27px; text-decoration:underline;
}


A.m2:link {
	COLOR: #226EB1; TEXT-DECORATION: underline
}
A.m2:visited {
	COLOR: #226EB1; TEXT-DECORATION: underline
}
A.m2:hover {
	COLOR: #ed376f; TEXT-DECORATION: underline
}

A.m2:active {
	COLOR: #226EB1; TEXT-DECORATION: underline
}
A.m3:link {
	COLOR: #008000; TEXT-DECORATION: none
}
A.m3:visited {
	COLOR: #008000; TEXT-DECORATION: none
}
A.m3:hover {
	color:#333;TEXT-DECORATION: underline;
}
A.m3:active {
	COLOR: #008000; TEXT-DECORATION: none
}


A.m4,A.m4:visited,A.m4:active {
	font:12px arial;COLOR: #008000; TEXT-DECORATION: underline
}
A.m4:hover {
	color:#66C914; TEXT-DECORATION: none
}


A.m5:link {
	COLOR: #848484; TEXT-DECORATION: none
}
A.m5:visited {
	COLOR: #848484; TEXT-DECORATION: none
}
A.m5:hover {
	COLOR: red; TEXT-DECORATION: none
}
A.m5:active {
	COLOR: #848484; TEXT-DECORATION: none
}

A.botton1{
	display:block; margin:0px auto; padding:0px;width:146px;height:30px; font:14px arial; font-weight:bold;COLOR: #000; TEXT-DECORATION: none;text-align:center; line-height:30px; background:url(../images/botton2.gif) no-repeat;
}
 
A.botton1:hover{
	display:block;margin:0px auto; padding:0px;width:146px;height:30px; font:14px arial; font-weight:bold;COLOR: #000; TEXT-DECORATION: none;text-align:center;  line-height:30px; background:url(../images/botton1.gif) no-repeat;
}


A.botton2{
	display:block; margin:0px auto; padding:0px;width:146px;height:30px; font:13px arial; font-weight:bold;COLOR: #000; TEXT-DECORATION: none;text-align:center; line-height:30px; background:url(../images/botton2.gif) no-repeat;
}
 
A.botton2:hover{
	display:block;margin:0px auto; padding:0px;width:146px;height:30px; font:13px arial; font-weight:bold;COLOR: #000; TEXT-DECORATION: none;text-align:center;  line-height:30px; background:url(../../images/botton1.gif) no-repeat;
}


A.botton3{
	float:left; margin:0px auto; padding:0px;width:146px;height:25px; font:14px arial; text-align:center; line-height:25px; background:#fff; margin-left:10px; border:1px solid #ccc;
}
 
A.botton3:hover{
	float:left;margin:0px auto; padding:0px;width:146px;height:25px; font:14px arial; text-align:center;  line-height:25px; background:#fff; margin-left:10px;border:1px solid #ccc;
}

A.botton4{
	float:left; margin:0px auto; padding:0px;width:146px;height:30px; font:14px arial; font-weight:bold;COLOR: #fff; TEXT-DECORATION: none;text-align:center; line-height:30px; background:url(../images/botton1.gif) no-repeat; margin-left:10px;
}
 
A.botton4:hover{
	float:left;margin:0px auto; padding:0px;width:146px;height:30px; font:14px arial; font-weight:bold;COLOR: #fff; TEXT-DECORATION: none;text-align:center;  line-height:30px; background:url(../images/botton2.gif) no-repeat;margin-left:10px;
}



A.bottonstyle01 {
	display:block; margin:0px auto; padding:0px;width:125px;height:35px; font:12px arial; font-weight:bold;COLOR: #000; TEXT-DECORATION: none; text-align:center; line-height:35px; background:url(../images/botton_bg.gif) no-repeat;
}
 
A.bottonstyle01:hover{
	display:block; margin:0px auto; padding:0px;width:125px;height:35px; font:12px arial; font-weight:bold;COLOR: red; TEXT-DECORATION: none; text-align:center;line-height:35px; background:url(../images/botton_bg.gif) no-repeat;
}

A.morebotton {
	display:block; margin:0px auto; padding:0px;width:125px;height:35px; font:12px arial; font-weight:bold;COLOR:#666; TEXT-DECORATION: none; text-align:center; line-height:35px; background:url(../images/botton_bg.gif) no-repeat;cursor:pointer; 
}
 
A.morebotton:hover{
	display:block; margin:0px auto; padding:0px;width:125px;height:35px; font:12px arial; font-weight:bold;COLOR: red; TEXT-DECORATION: none; text-align:center;line-height:35px; background:url(../images/botton_bg.gif) no-repeat;cursor:pointer; 
}



A.zc_botton {
	display:block; margin:0px auto;padding:0px; margin-top:5px;width:163px;height:32px; background:url(../images/zc_botton.png) no-repeat;cursor:pointer; 
}
 
A.zc_botton:hover{
	 background:url(../images/zc_botton2.png) no-repeat;
}




A.bottonstyle15:link,A.bottonstyle15:visited,A.bottonstyle15:active{
	display:block; width:104px;height:42px; font:14px arial; COLOR: #000; font-weight:bold;TEXT-DECORATION: none;line-height:42px; background:url(../images/botton_bg5.jpg) no-repeat; border:0px; padding-left:75px;
}

A.bottonstyle15:hover{
	display:block; width:104px;height:42px; font:14px arial; COLOR:#000; font-weight:bold;TEXT-DECORATION: none;line-height:40px; background:url(../images/botton_bg6.jpg) no-repeat; border:0px; padding-left:75px;
}

A.bottonstyleadd,A.bottonstyleadd:visited,A.bottonstyleadd:active {
	display:block; width:113px;height:32px; font:14px arial; font-weight:bold;COLOR: #000; TEXT-DECORATION: none;line-height:32px; background:url(../images/botton_bg17.gif) no-repeat; border:0px; padding-left:45px;
}


A.bottonstylesave,A.bottonstylesave:visited,A.bottonstylesave:active {
	display:block; width:113px;height:32px; font:14px arial; font-weight:bold;COLOR: #000; TEXT-DECORATION: none;line-height:32px; background:url(../images/botton_bg16.gif) no-repeat; border:0px; padding-left:45px;
}





A.bottonstyle02,A.bottonstyle02:hover,A.bottonstyle02:visited,A.bottonstyle02:active {
	float:left; margin:0px auto; padding:0px;width:59px;height:19px; font:12px arial; TEXT-DECORATION: none; text-align:center; line-height:19px; background:url(../images/botton_bg2.jpg) no-repeat; margin-left:10px; cursor:pointer;
}


A.bottonstyle03,A.bottonstyle03:hover,A.bottonstyle03:visited,A.bottonstyle03:active{
 float:left; margin:0px auto; padding:0px; width:59px;height:19px; font:12px arial; color:#999;TEXT-DECORATION: none;text-align:center;line-height:19px; background:url(../images/botton_bg2.jpg) no-repeat;margin-left:10px; cursor:none;
}

input.smallclick{
	cursor:pointer; border:0px; padding:0px; margin:0px;width:59px;height:19px; font:12px arial; TEXT-DECORATION: none; text-align:center; line-height:19px; background:url(../images/botton_bg2.jpg) no-repeat; 
}



A.bottonstyle05 {
	display:block; margin:0px auto; padding:0px;width:80px;height:33px; font:12px arial; font-weight:bold;COLOR: #000; TEXT-DECORATION: none; text-align:left; line-height:33px; background:url(../images/bottonsj.gif) no-repeat; padding-left:53px;
}
 
A.bottonstyle05:hover{
	display:block; margin:0px auto; padding:0px;width:80px;height:33px; font:12px arial; font-weight:bold;COLOR: red; TEXT-DECORATION: none; text-align:left;line-height:33px; background:url(../images/bottonsj.gif) no-repeat;padding-left:53px;
}



#bottonstyle11{
	float:left; margin-right:5px;
}



input.bottonstyle111{display:block;border:0px;width:125px;height:29px; background:url(../images/open.jpg) no-repeat; cursor:pointer;}
input.bottonstyle112{display:block;border:0px;width:125px;height:29px; background:url(../images/open_off.jpg) no-repeat;cursor:pointer;}

input.bottonstyle113{display:block;border:0px;width:125px;height:29px; background:url(../images/close_on.jpg) no-repeat;cursor:pointer;}
input.bottonstyle114{display:block;border:0px;width:125px;height:29px; background:url(../images/close_off.jpg) no-repeat;cursor:pointer;}



.ul2 { clear:both;display:block;margin:0px auto; padding:7px 0px 5px 0px; height:auto;}
.ul2 li {width:97%;margin:0px; padding:0px;line-height:17px;margin-bottom:0px!important;}

.picbg1{display:block; width:82px; height:80px; border:1px solid #ccc; background:#F1F1F1; text-align:center; vertical-align:middle; line-height:80px;}
.picbg1 img{width:80px; vertical-align:middle; text-align:center;}



		.r1 {height:1px; font-size:1px; overflow:hidden; display:block; background:#BBF709; margin:0 5px;}
		.r2 {height:1px; font-size:1px; overflow:hidden; display:block; border-right:2px solid #BBF709; border-left:2px solid #BBF709; margin:0 3px;}
		.r3 {height:1px; font-size:1px; overflow:hidden; display:block; border-right:1px solid #BBF709; border-left:1px solid #BBF709; margin:0 2px;}
		.r4 {height:2px; font-size:1px; overflow:hidden; display:block; border-right:1px solid #BBF709; border-left:1px solid #BBF709; margin:0 1px;}
		.r5 {border-right:1px solid #BBF709; border-left:1px solid #BBF709; padding:0px 5px 0px 5px;}
		
		
		.r11 {height:1px; font-size:1px; overflow:hidden; display:block; background:#FEAD0E; margin:0 5px;}
		.r12 {height:1px; font-size:1px; overflow:hidden; display:block; border-right:2px solid #FEAD0E; border-left:2px solid #FEAD0E; margin:0 3px;}
		.r13 {height:1px; font-size:1px; overflow:hidden; display:block; border-right:1px solid #FEAD0E; border-left:1px solid #FEAD0E; margin:0 2px;}
		.r14 {height:2px; font-size:1px; overflow:hidden; display:block; border-right:1px solid #FEAD0E; border-left:1px solid #FEAD0E; margin:0 1px;}
		.r15 {border-right:1px solid #FEAD0E; border-left:1px solid #FEAD0E; padding:0px 5px 0px 5px;}


a.gsbank{display:block;width:115px;height:35px; background:#fff url(../images/logo1_r1_c1.jpg) no-repeat left center; border:1px solid #C3C5C4;}
a.gsbank:hover{ border:1px solid green;}

a.jsbank{display:block;width:115px;height:35px; background:#fff url(../images/logo1_r1_c8.jpg) no-repeat center center; border:1px solid #C3C5C4;}
a.jsbank:hover{ border:1px solid green;}

a.nybank{display:block;width:115px;height:35px; background:#fff url(../images/logo1_r1_c3.jpg) no-repeat center center; border:1px solid #C3C5C4;}
a.nybank:hover{ border:1px solid green;}

a.jtbank{display:block;width:115px;height:35px; background:#fff url(../images/logo1_r1_c10.jpg) no-repeat center center; border:1px solid #C3C5C4;}
a.jtbank:hover{ border:1px solid green;}

a.chinabank{display:block;width:115px;height:35px; background:#fff url(../images/logo1_r1_c12.jpg) no-repeat center center; border:1px solid #C3C5C4;}
a.chinabank:hover{ border:1px solid green;}

a.yzbank{display:block;width:115px;height:35px; background:#fff url(../images/logo1_r1_c14.jpg) no-repeat center center; border:1px solid #C3C5C4;}
a.yzbank:hover{ border:1px solid green;}

a.verisign{display:block;width:115px;height:35px; background:#fff url(../images/logo1_r1_c7.jpg) no-repeat center center; border:1px solid #C3C5C4;}
a.verisign:hover{ border:1px solid green;}

a.msbank{display:block;width:115px;height:35px; background:#fff url(../images/logo_msbank.jpg) no-repeat center center; border:1px solid #C3C5C4;}
a.msbank:hover{ border:1px solid green;}

a.fzbank{display:block;width:115px;height:35px; background:#fff url(../images/logo_fzbank.jpg) no-repeat left center; border:1px solid #C3C5C4;}
a.fzbank:hover{ border:1px solid green;}

a.xybank{display:block;width:115px;height:35px; background:#fff url(../images/logo_xybank.jpg) no-repeat left center; border:1px solid #C3C5C4;}
a.xybank:hover{ border:1px solid green;}

a.gdfzbank{display:block;width:115px;height:35px; background:#fff url(../images/logo_gdfzbank.jpg) no-repeat left center; border:1px solid #C3C5C4;}
a.gdfzbank:hover{ border:1px solid green;}

a.zxbank{display:block;width:115px;height:35px; background:#fff url(../images/logo_zxbank.jpg) no-repeat left center; border:1px solid #C3C5C4;}
a.zxbank:hover{ border:1px solid green;}

a.zsbank{display:block;width:115px;height:35px; background:#fff url(../images/logo_zsbank.jpg) no-repeat left center; border:1px solid #C3C5C4;}
a.zsbank:hover{ border:1px solid green;}

a.szfzbank{display:block;width:115px;height:35px; background:#fff url(../images/logo_szfzbank.jpg) no-repeat left center; border:1px solid #C3C5C4;}
a.szfzbank:hover{ border:1px solid green;}

label.bankchoose{float:left; display:block; width:149px; height:38px;}
label.bankchoose input{float:left;margin-top:6px;}
label.bankchoose a{float:left; border:0px;}

input.bottonbgnew{ border:0px; width:94px; height:26px; cursor:pointer;background: url(../images/bottonbg5.png) no-repeat; font:12px arial; font-weight:bold; color:#000; text-align:center; line-height:23px; }

a.buttongg0403{float:left;height:21px;cursor:pointer; margin-right:10px; padding:0px 12px; color:#000;text-decoration:none; text-align:center; line-height:21px; background:url(../images/botton_bg.jpg) repeat-x; border:1px solid #AECADF;}
a.buttongg0403:hover{color:green;border:1px solid #AECADF;}

input.buttongg0403{ cursor:pointer;height:21px;cursor:pointer; margin-right:10px; padding:0px 12px; color:#000; text-decoration:none; text-align:center; line-height:21px; background:url(../images/botton_bg.jpg) repeat-x; border:1px solid #AECADF;}


.Pager table td{border:0px}

.gg_note{clear:both;OVERFLOW: hidden;display:block;margin:0px auto; color:#666; padding:10px 30px 10px 30px;  border:1px solid #DBDBDB;  background:#EEE; line-height:19px;margin-top:9px;}
.gg_note b{display:block;font:14px 微软雅黑;  font-weight:bold; color:#333; line-height:50px; padding-left:50px; background:url(../images/info_exclaimed_51.png) 3px 7px no-repeat;}
.gg_note span{display:block; font:14px arial;}

.gg_note2{clear:both;OVERFLOW: hidden;width:85%;display:block;margin:0px auto; color:#333; padding:0px;  line-height:19px;margin-top:9px;}
.gg_note2 .title{display:block; background:url(../images/dhk_titlebg.jpg) repeat-x; height:29px; color:#666; font-weight:bold; line-height:29px; padding-left:10px; }
.gg_note2 .click{display:block;font:16px arial;  font-weight:bold; color:#000; line-height:50px; padding-left:50px; background:url(../images/info_exclaimed_51.png) 3px 7px no-repeat;}
.gg_note2 .content{display:block; font:14px arial; padding:10px 30px 10px 30px;}
.gg_note2 .kamiclick{display:block; color:#333; font-style:normal; padding:10px 10px 10px 5px; line-height:24px;border:1px solid #DBDBDB;  background:#EEE; margin-top:5px;}


.bottonbox{display:block; text-align:center;margin-top:10px;}



.bottonstyle02{
	cursor:pointer; width:125px;height:35px; font:12px arial; font-weight:bold;COLOR: #000; TEXT-DECORATION: none; line-height:35px; background:url(../images/botton_bg.gif) no-repeat; border:0px;cursor:pointer; 
}


.bottonstyle05 {
	display:block; cursor:pointer; width:128px;height:29px; font:12px arial; font-weight:bold;COLOR: #000; TEXT-DECORATION: none; text-algin:center;line-height:29px; background:url(../images/botton_bg4.gif) no-repeat; border:0px;cursor:pointer; 
}


.bottonstylenew {
	width:97px;height:31px; font:12px arial; font-weight:bold;COLOR: #000; TEXT-DECORATION: none; text-algin:center;line-height:31px; background:url(../images/caxun_botton.png) no-repeat; border:0px;cursor:pointer; 
}

input.loginbotton {
	float:left; width:98px;height:31px;background:url(../images/login_botton_on.png) no-repeat; border:0px; font-weight:bold;text-align:center; cursor:pointer; 
}

input.loginbottonzc 
{
	float:left; 
	width:94px;
	height:30px;
	background:url(../images/zc_botton3.png) no-repeat; 
	border:0px; 
	text-align:center;
	cursor:pointer; 
}
input.loginbottondl {
	float:left; width:94px;height:30px;background:url(../images/dl_botton.png) no-repeat; border:0px; text-align:center;cursor:pointer; 
}

input.loginbottonzc001
{
	float:left; 
	width:92px;
	height:30px;
	background:url(../images/zc_botton001.png) no-repeat; 
	border:0px; 
	text-align:center;
	cursor:pointer; 
}
input.loginbottondl001 {
	float:left; width:92px;height:30px;background:url(../images/dl_botton001.png) no-repeat; border:0px; text-align:center;cursor:pointer; 
}

input.bottonstyle15{
	border:0px; cursor:pointer; width:179px;height:42px; font:14px arial; COLOR: #000; font-weight:bold;text-align:center; TEXT-DECORATION: none;line-height:42px; background:url(../images/botton_bg5.jpg) no-repeat;
}

input.botton1{
  cursor:pointer;border:0px;display:block;width:150px;height:30px; font:14px arial; font-weight:bold;COLOR: #000; TEXT-DECORATION: none; text-align:center;line-height:30px; background:url(../images/gybottonbg.gif) no-repeat; 
} 


input.greenbottonbig{
  cursor:pointer;border:0px;display:block;width:121px;height:30px; font:14px arial; font-weight:bold;COLOR: #fff; TEXT-DECORATION: none; text-align:center;line-height:30px; background:url(../images/lv_botton.gif) no-repeat; 
} 

input.greenbotton{
cursor:pointer;border:0px; display:block; margin:0px auto; width:108px;height:26px; font:12px arial; font-weight:bold;COLOR: #fff; TEXT-DECORATION: none; text-align:center;line-height:26px; background:url(../images/lv_bottons.gif) no-repeat;
} 




.tishi0418{clear:both;display:block;width:100%;text-align:left;overflow:hidden;padding-top:9px;padding-bottom:4px; background:url(../../images/huibg0.png) repeat-x left top; border-top:0px dotted #ccc;margin-top:5px;}
.tishi0418 p{float:left;display:block; padding-left:20px; background:url(../images/sell_bar.png) no-repeat left -30px;}


.top_notegg{clear:both;OVERFLOW: hidden;display:block;width:950px; height:auto;margin:0px auto; padding:0px; background:url(../images/tishi_bg_mid.gif) repeat-y; line-height:19px;}
.top_notegg .line1{float:left;display:block;width:100%;background:url(../images/tishi_bg_top.gif) no-repeat left top; height:7px;}
.top_notegg .line2{float:left;display:block;width:100%;background:url(../images/tishi_bg_bottom.gif) no-repeat left bottom;}

.tishiclass{ display:block; padding-left:56px;  padding-top:8px; padding-bottom:10px; color:#1D7B02; line-height:19px;background:url(../images/dot_gantan.png) no-repeat 20px 4px;}

.tongji{float:right; padding-left:20px; background:url(../images/icon_draw_mybank.gif) no-repeat left 0px;text-decoration:none; line-height:22px;}

.numbelno1{color:#000}
.numbelno2{color:#000}

#tablestyle4 {display:block; width:98%; margin:0px auto; padding:0px; padding-top:5px; }
#tablestyle4 table{width:100%; border-left:1px solid #ccc; border-bottom:1px solid #ccc;}
#tablestyle4 th{height:20px; line-height:20px;border-top:1px solid #ccc; border-left:1px solid #fff;border-right:1px solid #ccc; border-bottom:1px solid #fff; color:#009900; text-align:center; background:url(../images/tableth_bg.gif) repeat-x; }
#tablestyle4 tr td{border-top:1px solid #ccc; border-left:1px solid #fff;border-right:1px solid #ccc; border-bottom:1px solid #fff;  color:#333; vertical-align:middle; }
#tablestyle4 td img{margin-left:12px;}
#tablestyle4 td span{margin-left:20px; font:13px arial;}
#tablestyle4 tr{height:22px; line-height:22px;}
#tablestyle4 tr:hover{background:#F0F9E3;}
.trbg1{background:#FAFAFA;}