* {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#TB_window {
	FONT: 12px arial; COLOR: #fff
}
#TB_secondLine {
	FONT: bold 12px arial; COLOR: #fff
}
#TB_closeWindow A {
	BACKGROUND: url(../images/close1.jpg) no-repeat; FLOAT: right; WIDTH: 31px; COLOR: #fff; HEIGHT: 21px
}
#TB_closeWindow A:hover {
	BACKGROUND: url(../images/close2.jpg) no-repeat; FLOAT: right; WIDTH: 31px; COLOR: #fff; HEIGHT: 21px
}
#TB_closeAjaxWindow A {
	BACKGROUND: url(../images/close1.jpg) no-repeat; FLOAT: right; WIDTH: 31px; COLOR: #fff; HEIGHT: 21px
}
#TB_closeAjaxWindow A:hover {
	BACKGROUND: url(../images/close2.jpg) no-repeat; FLOAT: right; WIDTH: 31px; COLOR: #fff; HEIGHT: 21px
}
#TB_overlay {
	Z-INDEX: 100; LEFT: 0px; WIDTH: 100%; POSITION: fixed; TOP: 0px; HEIGHT: 100%
}
.TB_overlayMacFFBGHack {
	BACKGROUND: url(macFFBgHack.png)
}
.TB_overlayBG {
	FILTER: alpha(opacity=60); BACKGROUND-COLOR: #666; -moz-opacity: 0.75; opacity: 0.75
}
* HTML #TB_overlay {
	POSITION: absolute; ; HEIGHT: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px')
}
#TB_window {
	BORDER-RIGHT: #2d7218 1px solid; BORDER-TOP: #2d7218 1px solid; DISPLAY: none; Z-INDEX: 102; BACKGROUND: #ffffff; LEFT: 50%; BORDER-LEFT: #2d7218 1px solid; COLOR: #000000; BORDER-BOTTOM: #2d7218 1px solid; POSITION: fixed; TOP: 50%; TEXT-ALIGN: left
}
* HTML #TB_window {
	; MARGIN-TOP: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); POSITION: absolute
}
#TB_window IMG#TB_Image {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #666 1px solid; DISPLAY: block; MARGIN: 0px 0px 0px 15px; BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#TB_caption {
	FLOAT: left; FONT: bold 12px arial; COLOR: #fff
}
#TB_closeWindow {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 21px; PADDING-TOP: 0px; HEIGHT: 21px
}
#TB_closeAjaxWindow {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 21px; PADDING-TOP: 0px; HEIGHT: 21px; TEXT-ALIGN: right
}
#TB_ajaxWindowTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FLOAT: left; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 26px; PADDING-TOP: 0px; HEIGHT: 26px
}
#TB_title {
	BACKGROUND: url(../images/dh_bg.jpg) repeat-x; OVERFLOW: hidden; LINE-HEIGHT: 26px; BORDER-BOTTOM: #2d7218 1px solid; HEIGHT: 26px
}
#TB_ajaxContent {
	CLEAR: both; PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: url(../images/content_bg.jpg) repeat-x left top; PADDING-BOTTOM: 15px; OVERFLOW: auto; LINE-HEIGHT: 1.4em; PADDING-TOP: 2px; TEXT-ALIGN: left
}
.TB_modal#TB_ajaxContent {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/content_bg.jpg) repeat-x left top; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
#TB_ajaxContent P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#TB_load {
	DISPLAY: none; Z-INDEX: 103; LEFT: 50%; MARGIN: -6px 0px 0px -104px; WIDTH: 208px; POSITION: fixed; TOP: 50%; HEIGHT: 13px
}
* HTML #TB_load {
	; MARGIN-TOP: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); POSITION: absolute
}
#TB_HideSelect {
	Z-INDEX: 99; FILTER: alpha(opacity=0); LEFT: 0px; WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: fixed; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #fff; BORDER-BOTTOM-STYLE: none; -moz-opacity: 0; opacity: 0
}
* HTML #TB_HideSelect {
	POSITION: absolute; ; HEIGHT: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px')
}
#TB_iframeContent {
	CLEAR: both; MARGIN-TOP: 1px; DISPLAY: block; BACKGROUND: url(../images/content_bg.jpg) repeat-x left top; MARGIN-BOTTOM: -1px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; _margin-bottom: 1px
}
